body {
  background-color: #f2f5f7;
}

.container {
  padding: 0 13%  10% 13%!important;

  .course {
    width: 174px;
    margin: 0 auto 30px auto;
    background-color: #F9F9FA;
    color: #2d3846;
    text-align: center;
    height: 196px;
    border: .01px solid #DCE2E5;
    padding: 22px;
    border-radius: 7px!important;
    transition: .1s all linear;
    box-shadow: 0 4px 2px #AFBAC8;

  ;
    .radius {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background:aqua;
      margin: 0 auto 20px auto;

    }

    &:hover {
      box-shadow: 0 6px 2px #AFBAC8;
      transform: translateY(-4px);
    }

    .text {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      color: #2d3846;
      letter-spacing: 1px;
    }
  }
}
