


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box2{
    width: 30px;
    height: 30px;
    /*border: 1px solid red;*/
    margin: 30px 50px;
    /*animation-name: mybook;*/
    animation-duration:1s;
    animation-iteration-count:5;
    animation-timing-function: linear;
    animation-direction:normal;

}
.box{
    width: 70px;
    height: 47px;
    background-color: #92B901;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    margin: 250px 50px ;
    border-radius: 5px;
    animation-name: mybook;
    animation-duration: 3s;
    animation-timing-function:ease-out;

}

.title{
     width: 140px;
    height: 40px;
    border: 1px solid blue;
    margin: 8px auto;
    color: white;
    background-color: blue;
    text-align: center;
    padding:2px;
     font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
 }


 @keyframes mybook {
     0%{
         transform: rotate(0deg);
     }
     25%{
         transform: rotate(25deg);
     }
     50%{
         transform: translate(500px) rotate(0deg);
     }
     55%{
         transform: translate(500px) rotate(0deg);
     }
     70% {
         transform: translate(500px) rotate(0deg);
         background-color:#1ec7e6;

     }

     100%{
         transform: translate(0) rotate(-360deg);
     }







 }






 .card{
     width: 800px;
     height: 400px;
     background-color: black;
     display: flex;
     align-items: center;
     margin: 200px auto;
 }

 .card1{
     width:25%;
     animation-name: myanimation;
     animation-duration:1s;

     position: absolute;
 }
 .card2{
     width: 60%;
     animation-name: aniation;
     animation-duration:1s;
   margin-left: 320px;
     animation-timing-function: ease;
 }
.card  img{
    width: 100%;
}


@keyframes myanimation {
    0%{
        transform: scale(0) rotate(0deg);
    }
    100%{
        transform: scale(1)rotate(360deg);
    }
}
@keyframes aniation {

    0%{
        transform: translateX(-320px)scale(0.5);
        opacity: 0;
    }
    100%{
        transform: translateX(0) scale(1);
    }
}

.card3{
    width: 800px;
    height: 400px;
    background-color: black;
    display: flex;
    align-items: center;
    margin: 200px auto;
}

.card4{
    width:25%;
    animation-name: myanimation;
    animation-duration:0.5s;


}
.card5{
    width: 60%;
    animation-name: aniation;
    animation-duration:0.5s;
    animation-timing-function: ease;
}
.card3 img{
    width: 100%;
}


@keyframes myanimation {
    0%{
        transform: scale(0) rotate(0deg);
    }
    100%{
        transform: scale(1)rotate(360deg);
    }
}
@keyframes aniation {

    0%{
        transform: translateX(-320px)scale(0.5);
        opacity: 0.3;
    }
    100%{
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}




