*{
    margin: 0;
}
.text{
    font-size: 30px;
    margin: 50px;
}
.text::first-letter{
    font-size: 50px;
    color: red;
    font-weight: bold;
}
.text::first-line{
    font-size: 40px;
    color: blue;
}
.text::selection{
    background-color: greenyellow;
    color: white;
}
.text::before{
    content:' red';
}
ul{
    width:100%;
    margin: 0 auto;
    text-align: center;

}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;

}
li{
    list-style: none;
     margin: 10px 30px;
    display: inline-block;
    transition: 0.5s linear;
    position: relative;

}
li::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: red;
    transition: 0.5s linear;
    position: absolute;
    left: 50%;

}
li:hover::after{
    width: 50%;
    transition: 0.5s linear;
}
li::before{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: red;
    transition: 0.5s linear;
    position: absolute;
    right: 50%;
    bottom:-2px;

}
li:hover::before {
    width: 50%;
    transition: 0.5s linear;
}


.all-box{
    width: 1000px;
    margin: 50px auto;
    border: 1px solid red;
    /*display: flex;*/
    padding: 20px;
    box-sizing: border-box;
    height: 500px;


}
.all-box:hover .box{
transform: translate(800px,300px);
}
.all-box:hover .box2{
    transform: translate(800px,300px)rotate(720deg);
    border-radius: 50%;
    background-color: greenyellow;
}
.all-box:hover .box3{
    transform:scale(2);
}
.box{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: red;
    transition: 0.9s linear;


}
.box2{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: red;
    transition: 0.9s linear;


}
.box3{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: red;
    transition: 0.9s linear;


}
