ul{
    width: 100%;
   text-align: center;
}
li {
    list-style-type: none;
    display: inline-block;
    margin: 20px 30px;
    position: relative;
}
a{
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;

}
li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: red;
    transition: 0.5s linear;
    display: block;
    left: 50%;
    position: absolute;
}

li:hover::after{
    width: 50%;
}

li::before{
    content: '';
    width: 0;
    height: 2px;
    background-color: red;
    transition: 0.5s linear;
    display: block;
   position: absolute;
    bottom: -2px;
    right: 50%;
}

li:hover::before{
    width: 50%;
}

