*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 1000px;
    border:1px solid red;
}
.title{
    width: 100%;
  color: rgba(0,0,0,0.3);
    border-bottom: 1px solid black;

}
input{
    display: inline-block;
    border: 0;
    padding: 10px;
    border-right: 2px solid  rgba(0,0,0,0.3);;
}
a{
    text-decoration: none;
}
ul{
    display: inline-block;
    list-style: none;
}
li{
    margin: 10px 30px;


}


.title2{
    height: 50px;


}
.title2 p{
    width: 420px;
    height: 100%;
    padding: 10px 0 10px 30px;
    font-size: 25px;
    font-weight: normal;
   display: inline-block;
    text-transform: uppercase;
}
.title2 p::first-letter{
    font-size: 30px;
    color: red;
    font-weight: bold;
}
.title2 ul li {
    font-weight: bold;
}
.title2 select{
    font-weight: bold;
    border: 0;


}
#information:focus{
    outline: none;
}
#foydali:focus{
    outline: none;
}
.title2 li::after{
    content:'';
    width: 0;
    height: 2px;
    background-color: red;
    display: block;
    position: absolute;
    left: 50%;
    transition: 0.5s linear;
}
.title2 li:hover::after{
    width: 50%;
}
.title2 li::before{
    content: '';
    width: 0;
    height: 2px;
    background-color: red;
    transition: 0.5s linear;
    display: block;
    right: 50%;
    bottom: -2px;
    position: absolute;
}
.title2 li:hover::before{
    width: 50%;
}
.title2 li





