*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*tab start*/
.nav-item .active{
    color: white;
    background: #F1B301;
    border-radius: 27px;

}

.nav-link{
    text-align: center;
    font-weight: bold;
}
a:hover{
    color: black;
}


.nav-item2  .active{

    background: #F5F5F5;
    border-radius: 27px;
    color: black;
}
.filtir img{
    width: 16px ;
    height: 16px;
    margin-right: 17px;
}
.nav-link{
    color: black;
}
/*tab end*/








.pitsa{
    font-weight: bold;
    font-size: 52px;
}
.box{
    width: 540px;
    height: 230px;
    border-radius: 12px;
    padding: 30px;
}
.copy{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ded4d494 ;
    position: absolute;
    top: 32.26px;
    left: 45.26px;
}
.copy img{
    width: 24px;
    height: 24px;
    margin: 9px 13px 17px 13px;
}
.copy2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ded4d494 ;
    position: absolute;
    top: 43.26px;
    left: 45.26px;
}
.copy2 img{
    width: 24px;
    height: 24px;
    margin: 9px 13px 17px 13px;
}
.box1 img{
    width: 180px;
    height: 180px;


}
.box2{
    margin-left: 41px;
}
.box2 img{
    width: 24px;
    height: 24px;
    margin-left: 7%;
}
.p1{
    font-size: 16px;
    line-height: 17px;
     margin: 10px 0 0 0;
    opacity: 0.4;
}
.box4{
    margin-top: 24px;
}
.sum{
    font-weight: bold;
    font-size: 24px;

}
.radius{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F1B301;
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.radius img{
    width: 14px;
    height: 14px;
    margin:  18px ;
}
.row{
    margin-bottom: 30px;
}









