.icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #ACACAC;
  transition: 0.4s linear;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: 90%;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 90%; }

.icon-map {
  mask-image: url("../images/map.svg");
  -webkit-mask-image: url("../images/map.svg"); }

.icon-language {
  mask-image: url("../images/language.svg");
  -webkit-mask-image: url("../images/language.svg"); }

.icon-payment {
  mask-image: url("../images/payment.svg");
  -webkit-mask-image: url("../images/payment.svg"); }

.icon-faq {
  mask-image: url("../images/faq.svg");
  -webkit-mask-image: url("../images/faq.svg"); }

.top-menu {
  background-color: #F6F6F6; }
  .top-menu .left-side .nav .nav-item .nav-link, .top-menu .right-side .nav .nav-item .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ACACAC;
    margin: 0 16px;
    padding: 22px 0;
    transition: 0.4s linear;
    border-bottom: 2px solid transparent; }
    .top-menu .left-side .nav .nav-item .nav-link:hover, .top-menu .right-side .nav .nav-item .nav-link:hover {
      color: #00D74A;
      border-bottom: 2px solid #00D74A; }
  .top-menu .left-side .nav .nav-item:nth-child(1) .nav-link, .top-menu .right-side .nav .nav-item:nth-child(1) .nav-link {
    margin-left: 0; }
  .top-menu .left-side .nav .nav-item:last-child .nav-link, .top-menu .right-side .nav .nav-item:last-child .nav-link {
    margin-right: 0; }
  .top-menu .right-side .nav .nav-item {
    display: flex;
    align-items: center;
    margin: 0 16px; }
    .top-menu .right-side .nav .nav-item:hover .icon {
      background-color: black; }
    .top-menu .right-side .nav .nav-item .icon {
      margin-right: 10px; }
    .top-menu .right-side .nav .nav-item .nav-link {
      font-weight: normal;
      margin: 0; }
      .top-menu .right-side .nav .nav-item .nav-link:hover {
        color: black;
        border-bottom: 2px solid transparent; }
  .top-menu .right-side .nav .nav-item:last-child {
    margin-right: 0; }

/*# sourceMappingURL=main.css.map */
