body{
    margin:0;
    padding: 0;
}
.carousel-inner .carousel-item{
    height: 100vh;
}
.carousel-item img{
    height: 100%;
    width: 100%;
}
.carousel-control-next,.carousel-control-prev{
    opacity: 1;
}
.carousel-icon{
    /*background: rgba(255, 255, 255, 0.13);*/
    background-color: red;
    backdrop-filter: blur(20px);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.carousel-indicators .active{
    background-color: red;
}
.card{
    background-color: blue;
}

.owl-prev,.owl-next{
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    background-color:red !important;
    position: absolute;
    left: -20px;
    top: 5%;
}
.owl-next{
    right: -20px;
    left: auto;
}
.owl-prev span,.owl-next span{
    display: none;
}

.owl-prev,.owl-next{
    background-image: url("../images/ico-shape.png") !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
.owl-next{
    background-image: url("../images/ico-shape (1).png") !important;
}
/*.owl-prev:hover,.owl-next:hover{
    background-color: transparent !important;
}*/
.owl-theme .owl-nav [class*='owl-']:hover{
    background-color: transparent;
}
button:focus{
    outline: none;
}