#title{
    font-size: 30px;
    color: darkred;
    font-weight: 700;
}
.text{
     font-size: 35px;
     color: blue;
     font-weight: 900;
 }

.box{
    width: 300px;
    height: 300px;
    background-color: orangered;
    color: white;
    font-size: 24px;

    /*left,right,center,justify*/
    text-align: center;

    /*lowercase,uppercase,capitalize*/
    text-transform: capitalize;

    /*underline,overline,line-through*/
    text-decoration: none;
}
.my-link{
    color: red;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.card{
    width: 500px;
    height: 300px;
    background-image: url("images/person.jpg");
    background-size: 70%;
    background-color: red;

    /*repeat-y,repeat-x,no-repeat*/
    background-repeat: no-repeat;

    /*background-position-x:50px ;*/
    /*background-position-y:50px ;*/
    background-position: center center;

}
body{
    background-image: url("images/person.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

/*.card img{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

