*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #FFFFFF;
}
.container{
    width: 1200px;
    margin: 0 auto;
    /*border: 1px solid coral;*/
}
.container .navbar{
    display: flex;
    justify-content: space-between;
}
.container .navbar .left img{
    width: 206px;
    height: 102px;
    margin: 26px 0 27px 90px;
}
.container .navbar .right ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 330px;
    margin-top: 63px;
}
.container .navbar .right ul li{
    list-style-type: none;
    padding:0 114px 0 0;
}
.container .navbar .right .rightt{
    color: #FA4A0C;;
}
/*next*/
.container .both{
    background: url("./images/1.png");
    text-align: center;
    width: 1200px;
    height: 570px;
}
.container .both .up h4{
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #F7F7F7;
    padding-top: 73px;
}
.container .both .up h1{
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.2px;
    padding-top: 17px;
    color: #FFFFFF;
}
.container .both .up p{
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.2px;
    padding-top: 27px;
    color: #F7F7F7;
}
.container .both .down{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 44px;
}
.container .both .down button{
    padding: 16px 50px;
    background: #FA4A0C;
    border-radius: 30px;
    color: #FFFFFF;
    margin: 10px;
}
.container .both .down .next{
    background: transparent;
    border: 1px solid #F7F7F7;
}
/*next1*/
.container .with img{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 448px;
    height: 540px;
    margin-left: 330px;
    transform: translateY(-230px);
    border-bottom: 3px solid #E4E4E4;
}
.container .with h1{
    font-family: Poppins;
    font-size: 44px;
    line-height: 36px;
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.1px;
    transform: translateY(-180px);
    padding-right: 40px;
    color: #000000;
}
/*next2*/
.container .both1{
    display: flex;
    justify-content: space-between;
}
.container .both1 .one1{
    width: 302px;
    height: 525px;
    transform: translateY(-135px);
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
    margin-left: 65px;
}
.container .both1 .two1{
    margin-top: 173px;
    margin-right: 190px;
}
.container .both1 .two1 h3{
font-weight: bold;
font-size: 20px;
line-height: 36px;
letter-spacing: 0.1px;
color: #FA4A0C;
}
.container .both1 .two1 h1{
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.2px;
    padding-top: 13px;
    color: #252B42;
}
.container .both1 .two1 h2{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2px;
    padding-top: 13px;
    color: #737373;
}
/*next3*/
.container .both2{
    display: flex;
    justify-content: space-between;
}
.container .both2 .one2{
    width: 302px;
    height: 525px;
    transform: translateY(-135px);
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
    margin-right: 255px;
}
.container .both2 .two2{
    margin-top: 173px;
    transform: translate(+185px);
}
.container .both2 .two2 h3{
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
}
.container .both2 .two2 h1{
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.2px;
    padding-top: 13px;
    color: #252B42;
}
.container .both2 .two2 h2{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2px;
    padding-top: 13px;
    color: #737373;
}
/*next4*/
.container .both1{
    display: flex;
    justify-content: space-between;
}
.container .both1 .one1{
    width: 302px;
    height: 525px;
    transform: translateY(-135px);
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
    margin-left: 65px;
}
.container .both1 .two1{
    margin-top: 173px;
    margin-right: 190px;
}
.container .both1 .two1 h3{font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
}
.container .both1 .two1 h1{
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.2px;
    padding-top: 13px;
    color: #252B42;
}
.container .both1 .two1 h2{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.2px;
    padding-top: 13px;
    color: #737373;
}
/*next5*/
.container .big{
    background: url("./images/7.png");
    text-align: center;
    width: 1200px;
    height: 570px;
    padding-top: 145px;
}
.container .big .up h1{
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.2px;
    padding-top: 17px;
    color: #FFFFFF;
}
.container .big .up p{
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.2px;
    padding-top: 27px;
    color: #F7F7F7;
}
.container .big .down{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 44px;
}
.container .big .down button{
    padding: 16px 50px;
    background: #FA4A0C;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 10px;
}
.container .big .down .next{
    background: transparent;
    border: 1px solid #F7F7F7;
}
/*next6*/
.container .footer .nav{
    display: flex;
    justify-content: space-between;
}
.container .footer .left img{
    width: 206px;
    height: 102px;
    margin: 26px 0 27px 90px;
}
.container .footer .middle{
    display: inline-block;
    justify-content: space-between;

}
.container .footer .middle img{
    width: 25px;
    height: 25px;
    margin-top: 68px;
}

.container .footer .right li{
    list-style-type: none;
    /*border: 1px solid red;*/
    margin-top: 68px;
    margin-right: 160px;
}