*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1150px;
    height: 600px;
    border: 2px solid blue;
    margin: 50px auto;
    background-color: #000F26;
}
.card{
    width: 350px;
    height: 600px;
    border: 2px solid white;
}
.card-img{
    height: 300px;
}
.card-img img{
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
}
.title{
    color: white;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.text{
    color: white;
    font-size:17px ;
}
.title{
    color: white;
    display: block;
}

