body{
    margin: 0;
    background-color: #000F26;
}
.container{
    width: 1110px;
    height: 600px;
    margin: 20px auto;
    /*border: 2px solid white;*/
    display: flex;
}
.container   .card:nth-child(3){
    margin-right: 0;
}
.card{
    width: 350px;
    height: 600px;
    margin-right: 30px;

}


.card-header{

    height: 220px;
}
.card-header img{
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    transition: 0.7s linear;
}
.card-header img:hover{
    border: 2px solid yellow;
}
.card-body{
    margin-top: 30px;
}
.d-flex{
    display: flex;
}
.title{
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.commit{
    margin-top: 14px;
    font-size: 16px;
    line-height: 19px;
    color: white;
}
.box{
    margin-top: 17px;

}
.star div{
    margin-right: 7px;
}
.review{
    font-size: 17px;
    line-height: 19px;
    color: white;
    margin-left: 8px;

}
.download{
    width: 203px;
    height: 44px;
    border: 2px  solid #F3353E;
    display: inline-block;
    margin-top: 25px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    transition: 0.7s linear;

}
.download:hover{
    background-color: red;
}
body{
    margin: 0;
    background-color:#000F26 ;
}
.container{
    width: 1110px;
    height: 600px;
    border: 2px solid red;
    margin: 40px auto;
    display: flex;

    /*width: 1110px;*/
    /*height: 600px;*/
    /*margin: 20px auto;*/
    /*!*border: 2px solid white;*!*/
    /*display: flex;*/
}
.card{
    width: 350px;
    height: 600px;
    border: 2px solid green;


}
.card-img{
    height: 300px;
}
.card-img img:hover{
border: 2px solid yellow;
}
.card-img img{
    width: 100%;
    height: 100%;
    border: 1px solid red;

}
.title{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
}
.text{
    color: white;
    font-size: 16px;
}
.d-flex{
    display: flex;
}
.star div{
margin-right: 7px;
    line-height: 40px;
}
.review{
   font-size: 17px;
    line-height: 40px;
    color: white;
    margin-left: 8px;

}
.dawnload{
    width: 203px;
    height: 44px;
    border: 2px  solid #F3353E;
    display: inline-block;
    margin-top: 25px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    transition: 0.7s linear;}

.sd{
    width: 200px;
    height: 200px;
    border: 1px solid  red;
    margin-right: 20px;

}

.cord{
    width: 700px;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}
.cord :nth-child(3){
    margin-right: 0;
}

.container .card :nth-child(3){
    margin-right: 0;
}












