*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: #E5E5E5;
}
.s{
    font-weight: bold;
    font-size: 36px;
}
.card{
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.images1{
    margin-right: 7px;
}
.box{
    padding-bottom: 16px;
    border-bottom: 1px solid grey;
}
.box2{
margin: 59px 0 32px 0;
    border-bottom: 1px solid #000000;
}
.box3{
    margin: 0 0 32px 0;
    border-bottom: 1px solid #000000;
}
.number{
    font-weight: 500;
    font-size: 24px;
}
.box2 input {
    width: 100%;
    outline: none;
    border: 0;
    font-weight: 500;
    font-size: 24px;
}
.box3 input {
    width: 100%;
    outline: none;
    border: 0;
    font-weight: 500;
    font-size: 24px;
}
.submit{
    width: 146px;
    height: 50px;font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background: #00D74A;
    box-shadow: 0px 2px 2px rgba(14, 221, 85, 0.52);
    border-radius: 10px;
    margin-right: 25px;
}
.text{
    width: 107px;
    height: 36px;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    margin-top: 8px;
}
.box4{
    padding-right: 10px;
}
.box5{
    border-radius: 10px;
    background-color: white;
    padding: 29px  ;
}
.text4{
    width: 80px ;
    height: 80px;
    border-radius: 50%;
    background-color: #E5E5E5;
    margin: 0 auto 25px auto;
}
.text4 img{
    width: 33.3px;
    height: 33.3px;
    margin: auto 0 ;
}
.text5{
    font-weight: 500;
    font-size: 16px;
    text-align: center;

}
.book{
    margin-bottom: 18px;
}
.one{
    padding: 30px;
    background-image: url("../images/Chart.png");
    background-repeat: no-repeat;
    background-position: 33px 24px;
    border-radius: 10px;
}
.one2{
    padding: 30px;
    border-radius: 10px;
}
.one3{
    padding: 30px;
    border-radius: 10px;
}
.one4{
    padding: 30px;
    border-radius: 10px;
}

.two{
    font-weight: 600;
    font-size: 32px;
    padding-left: 24px;
}
.submit4{
    width: 115px;
    height: 32px;font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;
    border-radius: 10px;
    margin-top: 8px;

}
.dawn{
    margin: 44px 0 0 0 ;
    padding-bottom: 36px;
    border-bottom: 1px solid black;

}
.dawn-body2{
    font-weight: 500;
    font-size: 18px;
}
.dawn-body4{
    font-weight: 500;
    font-size: 18px;
}
.dawn-body2 img{
    margin-right: 7px;
}
.submit5{
    width: 140px;
    height: 44px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

}
.submit6{
    width: 152px;
    height: 44px;
    background: #00D74A;
    box-shadow: 0 2px 2px rgba(14, 221, 85, 0.52);
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.dawn3{
    margin: 26px 0 0 0;
}

.p4{
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;

}
.dawn-body3{
    padding-right: 0;
    font-weight: 500;
    font-size: 17px;

}
.dawn-body3 img{
    margin-right: 7px;
}
.h7{
    margin-bottom: 0;
   font-size: 23px;
}
/*Yangiliklar*/
.page40{
    padding: 10px;
}
.page22{
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
}
.page22:hover{
    color: #00D74A;
}
.page23{
    font-weight: normal;
    font-size: 15px;
    line-height: 40px;
}
.page24{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #5a6268;
    padding: 10px 18px;

}
.page25{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #5a6268;
    padding: 10px 18px;
}
.page28{
margin-top:12px;
}


@media(max-width: 576px ){
    .s{
        font-weight: bold;
        font-size: 24px;
    }
    .bed{
        font-weight: 600;
        font-size: 18px;
    }
    .no{
        display: none;
    }
    .teg{
        padding-left: 0;
    }
    .teg2{
        display: flex;
        justify-content: end;
    }
    .one{
        padding:20px;
        background-image: url("../images/Chart.png");
        background-repeat: no-repeat;
        background-size: 56px 52px;
    }
    .two{
        font-weight: 600;
        font-size: 22px;
        padding-left: 50px;
    }
    .submit7{
        width: 43px;
        height: 30px;
        background: #000000;
        border-radius: 8px;
        font-weight: 600;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .submit4{
        width: 115px;
        height: 32px;font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #000000;
        border-radius: 10px;
        margin-top: 8px;
        display: none;
    }
    .dawn-body2{
        font-size: 16px;
    }
    .dawn-body3{
        padding: 0;
        font-weight: 500;
        font-size: 16px;
    /**/
    }
    .dawn-body4{
        font-weight: 500;
        font-size: 16px;
        margin-top: 32px;
    }
    .submit5{
        width: 140px;
        height: 44px;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-align: center;


    }
    .dawn-body3 img{
    width: 15px ;
    height: 15px;
}
    .dawn-body2 img{
    width: 16.67px ;
    height: 16.67px;
}
    .h19{
        font-weight: bold;
        font-size: 24px;
    }
    .page22{

        font-weight: 600;
        font-size: 22px;
        display: flex;
        justify-content: center;
    }
    .page22:hover{
      color: #00D74A;
    }
     .select{
         width: 100%;
         border-radius: 6px;
     }
    .page23{
        display: flex;
        justify-content: center;
        font-weight: normal;
        font-size: 14px;
    }
     .ball h1{
        font-size: 24px;
         font-weight: bold;


     }
     .select{
         font-weight: 500;
         font-size: 14px;
     }
}

@media(min-width: 992px) {
    .text{
        width: 149px;
        height: 36px;
        font-weight: 500;
        font-size: 11px;
        line-height: 18px;
        margin-top: 8px;
    }
     .submit7{
         display: none;
     }
     .ball{
    display: flex;
    justify-content: space-between;

}
    .select{
        outline: none;
        border: 0;
        background-color: transparent;
        font-size: 24px;
        font-weight: 600;
    }
    .page22{
        display: flex;
        justify-content: center;
    }
    .page23{
        display: flex;
        justify-content: center;
    }
}





