*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1{
    width: 820px;
    height:670px;
    /*border:1px solid red;*/
  margin: 20px auto;
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
}
.container{
    width: 800px;
    height: 650px;
    /*border: 1px solid red;*/

    background-color: white;
}
.container-body{
    height: 180px;
    /*border: 1px solid red;*/
    display: flex;
}
h2{
    margin-left: 15px;
}
.box{
    width: 30%;
    height: 100%;
    /*border: 3px solid blue;*/
}
.box2{
    width: 70%;
    height: 100%;
    /*border: 1px solid blue;*/
}
.box-body{
    width:150px;
    height: 150px;
    /*border: 2px solid red;*/
    border-radius: 50%;
    margin: 20px auto ;
    padding: 20px;
}
img{
    width: 100%;

}
h3{
  margin: 35px 0 4px 0;
}
a{
    text-decoration: none;

}
.box2 p{
    margin: 15px 0;

}
.box2 input{
    width: 350px;
    height: 40px;
    border: 2px dashed rgba(0,0,0,0.4);
    padding-left: 10px;
}
.container-body input:focus{
  outline: 0;
}
.container-body input::placeholder{
   font-size: 15px;
}


label{
    line-height:50px ;
    margin-left: 15px;
}

.card{
  margin-left: 156px;
    width: 347px;
    height: 30px;
}
.card2{
    margin-left: 182px;
    width: 347px;
    height: 30px;
}
.card3{
    margin-left: 160px;
    width: 347px;
    height: 30px;
}
.card4{
    margin-left: 157px;
    width: 347px;
    height: 30px;
}
select{
    margin-left: 140px;
}