*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    width: 800px;
    height: 600px;
    /*border: 1px solid red;*/
    margin: 30px auto;
}
.account{
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.1);
    font-size: 30px;
    padding:  7px 10px;
}
.container-body{
    width:760px;
    height: 570px;
    /*border:1px solid blue ;*/
    margin: 0 auto;
}
.card {
    width: 100%;
    height: 150px;
    /*border: 1px solid green;*/
    display: flex;
    margin-bottom: 15px;
}

.card-body1{
    height: 100%;
    width: 20%;
    /*border: 1px solid red;*/
    text-align: center;
    font-weight: bolder;
    padding-top: 30px;

}
.card-body2{
    height: 100%;
    width: 70%;
    /*border: 1px solid red;*/
    display: flex;


}
.bo1{
    width: 120px;
    height: 148px;
    /*border: 1px solid red;*/
    padding: 28px 4px;
}
img{
    width: 100%;
}
.div1{
    width: 400px;
    height: 100%;
    /*border: 1px solid blue;*/
    padding-left: 10px;
}
.text{
    width: 200px;
    height: 30px;
    border: 1px solid rgba(0,0,0,0.4);
    margin:60px 0 10px  0;
    text-align: center;
    padding-top: 4px;
   color: darkcyan;
    font-weight: bold;
    font-size: 16px;
}
form{
    margin-left: 38px;
}
#one{
    margin-left: 13px;
    width: 450px;
    height: 30px;
    font-size: 15px;
}
#two{
    margin-left: 15px;
    width: 450px;
    height: 30px;
    font-size: 15px;
}
label{
    font-weight: bolder;
    line-height: 45px;
}
.book{
    margin: 0 19px 0 30px;
}
#email{
    width: 450px;
    height: 30px;
    font-size: 15px;
    border: 0;
}
#email:focus{
    outline: none;
}
.code{
    margin: 0 17px 0 7px;
}
#cod{
    width: 150px;
    height: 30px;
    font-size: 15px;
    text-align: center;
}
#select{
    width: 450px;
    height: 30px;
    margin-left: 16px;
}
p{
    margin-left: 94px;
}
.bbv{
    margin-left: -65px;
}
#select1{
    margin-left: 16px;
    width: 450px;
    height: 30px;
}
.vvb{
    margin-left: -46px;
}
#men{
    margin-left: 16px;
    width: 450px;
    height: 30px;
}
