*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{

    border: 1px solid red;
}
.title{
    text-align: center;
    font-size:47px;
    font-weight: bold;
    margin-top: 30px;
}
.title-body{
    width:700px;
    height: 30px;
    border: 1px solid red;
    margin: 25px auto  0 auto;
    padding-left: 25px;
}
ul{
    padding-left: 30px;
}
li{
    list-style: none;
    float: left;
    padding: 5px 15px;
    /*margin-left: 13px;*/
}
.crl{clear: both;

}
.box{
    width:1000px ;

    border: 1px solid red;
    margin: 20px auto;
}
.radius{
    width: 245px;
    height: 245px;
    background: rgba(250, 226, 214, 0.4);
    border-radius: 50%;
    position: absolute;
    left: 690px;
    top: 430px;
}
.text{
    font-weight: bold;
    font-size:90px;
    line-height: 90px;
    margin: 220px 0 16px;
    display: inline-block;

}
.bp{
    font-size: 40px;
    display: inline;
}

.bp b{
    position: absolute;
}
.bp b2{
    position: absolute;
    margin: 10px 0 0 20px;

}
.bp b3{
    margin-left: 30px;
    display: inline-block;
}
.text1{
    position: absolute;
    left: 805px;
    top: 267px;
    z-index: 1;;

}

.text2{
    display: inline-block;
    transform: translate(211px, 166.2px);
}



.link{
    width: 140px;
    height: 40px;
    position: absolute;
    /*margin: -123px 0;*/
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding-top: 7px;
    color: #967675;
    border-radius: 6px;
    background: #FFFFFF;
    border: 1px solid #CFADAC;
    transition: 0.5s linear;
}
.link:hover{
    background-color: red;
    color: white;
}
.box-body{

    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-evenly;
    margin:230px 0 50px 0;
}
.box3{
    width: 250px;
    /*border: 1px solid red;*/

}
.box4{
    width: 250px;
    /*border: 1px solid red;*/

}
.box5{
    width: 250px;
    /*border: 1px solid red;*/

}
.box3 p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 165.9%;
    color: #9D8888;
    margin-left: 40px;
    text-align:justify;
}
.box4 p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 165.9%;
    color: #9D8888;
    margin-left: 40px;
    text-align:justify;
}
.box5 p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 165.9%;
    color: #9D8888;
    margin-left: 40px;
    text-align:justify;
}
.box3 h3{
    font-weight: normal;
    font-size: 38px;
    line-height: 51px;
    color:#111111;

}
.box4 h3{
    font-weight: normal;
    font-size: 38px;
    line-height: 51px;
    color:#111111;

}
.box5 h3{
    font-weight: normal;
    font-size: 38px;
    line-height: 51px;
    color:#111111;

}

.box-body2{
    /*border: 1px solid red;*/
    display: flex;
  justify-content: space-between;
}
.box6{
    width: 545px;
    padding-right: 40px;
}
.box7{
    width: 450px;
    /*border: 1px solid red;*/

}
.box7 p{
    font-weight: bold;
    font-size: 100px;
    line-height: 106px;
    color: #23242C;
    margin-bottom: 30px;
}
.box6 img{
    width: 100%
}
.link2 h1{
    font-weight: bold;
    font-size: 55px;
    line-height: 110px;
    text-align: center;
    color: #23242C;
}

.page{
    display: flex;
    justify-content: space-around;
}
.page-body{

    /*border: 1px solid blue;*/

}
.page1{
    width: 430px ;
    height: 533px;
    /*border: 1px solid red;*/
    background: #F6ECE8;
    margin-bottom: 20px;
}
.page1 img{
    width: 100%;
}
h1{
    font-weight: normal;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #967675;
}
.text10{

    font-weight: normal;
    font-size: 16px;
    line-height: 165.9%;
    text-align: center;
    color: #967675;
}




.page2{
    width: 430px ;
    height: 533px;
    /*border: 1px solid red;*/
    background: #F6ECE8;
    margin: 75px 0;

}
.page2 img{
    width: 100%;
}
h1{
    font-weight: normal;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #967675;
}
.text10{

    font-weight: normal;
    font-size: 16px;
    line-height: 165.9%;
    text-align: center;
    color: #967675;
}
.page-body2{
    /*border: 1px solid blue;*/

}
.page3{
    width: 430px ;
    height: 533px;
    /*border: 1px solid red;*/
    background: #F6ECE8;
    margin-bottom: 20px;
}
.page3 img{
    width: 100%;
}
h1{
    font-weight: normal;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #967675;
}
.text10{

    font-weight: normal;
    font-size: 16px;
    line-height: 165.9%;
    text-align: center;
    color: #967675;
}

.page4{
    width: 430px ;
    height: 533px;
    /*border: 1px solid red;*/
    background: #F6ECE8;
    margin-bottom: 20px;
}
.page4 img{
    width: 100%;
}
h1{
    font-weight: normal;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #967675;
}
.text10 {

    font-weight: normal;
    font-size: 16px;
    line-height: 165.9%;
    text-align: center;
    color: #967675;
}

.street-body{
    height: 40px;
    /*border: 1px solid red;*/
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
.street{
    width: 250px;
    height: 1px;
    background-color: black;
    margin-right: 20px;
}
.street2{
    width: 250px;
    height: 1px;
    background-color: black;
    margin-left: 20px;
}
.street-body b{
    font-weight: bold;
    font-size: 36.8465px;
    color: #23242C;
}
.radius21{
    /*border: 1px solid red;*/
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 62px 400px;
    box-shadow: 0 0 64px #EDD5C8;
    position: absolute;
}
.text12{
    font-weight: bold;
    font-size: 27px;
    line-height: 72px;
    text-align: center;
    color: #23242C;
    margin: 131px;
    z-index: 1;

}
.new-text{
    height: 300px;
    /*border: 1px solid red;*/
    font-weight: bold;
    font-size: 63px;
    line-height: 110px;
     text-align: center;
    padding-top: 40px;
}

input{
    margin-left: -20px;
    width: 400px;
    color: black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}



input:focus{
    outline: none;
}
button{
    background: #FFFFFF;
    /*border: 1px solid #CFADAC;*/
    box-sizing: border-box;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    transition: 0.5s linear;
}
button:hover{
    background-color: red;
    color: white;
}
.box8{
    height: 350px;
    /*border: 1px solid  green;*/
    display: flex;
    background-color:#23242C;
}
.box9{
    width: 40%;
    height: 100%;
    /*border: 1px solid g/reen ;*/
    padding-left: 95px;
    color: #FFFFFF;
    line-height: 27px;

}

.box10{
    width:60%;
    height: 100%;
    /*border: 1px solid green;*/
    display: flex;
    justify-content: flex-end;

}
.box11{
    /*border: 1px solid red;*/
    color: #FFFFFF;
}
.box12{
    /*border: 1px solid red;*/
    color: #fff;
    padding-top: 70px;
    margin-right: 107px;

}

.box9 h2{
padding: 70px 0  19px 0;
}
.box9 b{
    display: inline-block;
    margin-top:100px ;
    color: #967675;
    font-size: 11px;
}
.box11{
    margin-right: 80px;
    padding-top: 70px;
    line-height:10px ;


}
.box11 p{
    line-height: 36px;
}
.box11 h2{
    padding-bottom: 17px;
}

.box12 h2{
    padding-bottom:2px ;
}
.box12 p{
  line-height:   36px;
}