*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{

    border: 1px solid red;
}
.title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 30px;
}







