$headerB: #E5E5E5;
$buttonGreen: #00D74A;
$textColor: #ACACAC;
$bodyB: #475463;
%radius {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #F2FDF6;
}

%button {
  width: 158px;
  height: 50px;
  background: $buttonGreen;
  border-radius: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s linear;

  &:hover {
    box-shadow: 0 2px 2px rgba(14, 221, 85, 0.52);
  }
}

.icon {
  width: 15px;
  height: 16px;
  background-color: $textColor;
  display: inline-block;
  transition: 0.4s linear;

  mask: {
    position: center center;
    repeat: no-repeat;
    size: 90%;
  };
  -webkit-mask: {
    position: center center;
    repeat: no-repeat;
    size: 90%;

  };
}

.icon-map {
  -webkit-mask-image: url("../img/lakatsa.png");
}

.icon-payment {
  -webkit-mask-image: url("../img/Vector (1).png");
}

.icon-internet {
  -webkit-mask-image: url("../img/internet.png");
}

.icon-so\'roq {
  -webkit-mask-image: url("../img/so'roq.png");
}

.top-menu {
  background-color: $headerB;

  .container {
    .box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav1 {
        .nav-item {
          .nav-link {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: $textColor;
            padding: 22px 0;
            margin-right: 41px;
            transition: 0.4s linear;
            border-bottom: 2px solid transparent;

            &:hover {
              color: $buttonGreen;
              border-bottom: 2px solid $buttonGreen;
            }
          }
        }
      }

      .nav2 {
        .nav-item {
          display: flex;
          align-items: center;

          span {
            margin-right: 10px;
            transition: 0.4s linear;
          }

          .nav-link {
            padding: 20px 0;
            margin-right: 41px;
            color: $textColor;
            transition: 0.4s linear;
          }

          &:nth-child(4) {
            .nav-link {
              margin-right: 0;
            }
          }

          &:hover {
            .nav-link {
              color: black;
            }

            span {
              background-color: black;
            }
          }
        }
      }

    }
  }
}

.container {
  .navbar-expand-md {
    padding: 18px 0;

    .navbar-collapse {

      .navbar-nav {
        align-items: center;
        justify-content: flex-end;

        .nav-item {
          margin-left: 50px;

          .nav-link {
            color: black;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            padding: 0;
            transition: 0.4s linear;

            &:hover {
              color: $buttonGreen;
            }
          }
        }
      }
    }
  }
}

.text {
  font-weight: bold;
  font-size: 50px;
  line-height: 62px;
  color: #FFFFFF;
  margin: 88px 0 42px 0;
}

.box1 {
  .box {
    margin-right: 60px;

    .text2 {
      font-weight: 800;
      font-size: 32px;
      line-height: 38px;
      color: #00D74A;
      margin: 0;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      margin: 0 0 72px 0;
    }
  }
}

.button {
  @extend %button;
  width: 233px;
  height: 72px;
  margin-bottom: 33px;
}

header {
.owl-carousel{
  display: inline-block;
}
}

@media (max-width: 567px) {
  .top-menu {
    display: none;
  }
 .container{
   .navbar-expand-md{
     .navbar-collapse{
       .navbar-nav{
         .nav-item{
           margin: 8px 0 0 0;
         }
       }
     }
   }
 }

}









