*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1500px;
    height: 800px;
    border: 2px solid blue;
display: flex;
    margin: 50px auto;
    background-color: blue;
}
.box{
    width: 33.3%;
    height: 580px;
    border: 2px solid blue;
    margin: 5px;

}
.box iframe{
    width: 100%;
    height: 300px;
}
.box2 iframe{
    width: 100%;
    height: 300px;
}
.box3 iframe{
    width: 100%;
    height: 300px;
}
.box h1{
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    margin: 15px 0;
}
.box p{
    font-size:20px ;
    margin-bottom: 10px;
}
.box img{
    width: 25px;

}
.box b{
    font-size: 20px;

}
.button {
    background-color: black;
    color: white;
    font-size: 25px;
    border: 3px solid red;
    padding: 5px 15px;
    display: block;
    border-radius: 10px;
    margin: 15px 0;
}
.button:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}
/*.button{*/

/*}*/

