*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    height: 300px;
    border:2px solid black ;
    margin: 50px auto;
    display: flex;

}
.box{
    width: 30%;
    height: 92%;
    border: 2px solid blue;
    margin: 10px;
}
.box img{
    width: 250px;
   margin: 5px 0 0 50px;
;
}
.box2{
    width: 70%;

}
.box2 img{
    width: 30px;
    margin: 10px 0;
}
.box p{
    font-size: 25px;

}
 .card{
     width: 30%;
     border: 2px solid blue;
     margin: 10px;
 }
 .card img{
     width: 250px;
     margin: 10px 0 0 50px;
 }
 .card2{
     width: 70%;
 }
 .card2 img{
     width: 30px;
     margin: 10px 0;
 }
 .card2 p{
     font-size: 25px;
 }
 .text{
     width: 30%;
     border: 2px solid blue;
     margin: 10px;
 }
.text img{
    width: 250px;
    margin: 10px 0 0 50px;
}
.text2{
    width: 70%;
}
.text2 img{
    width: 30px;
    margin: 10px 0;
}
.text2 p{
    font-size: 25px;
}

.start{
    background-color: blue;
    color: white;
    border: 2px solid red;
    font-size: 40px;
    border-radius: 10px;

}
.start:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}