body{
    margin: 0;
}
.container{
    width: 1440px;
    height: 750px;
    border: 2px solid black;
    margin: 50px auto;
    background-image: url("imags/Mask Group.png");
    position: relative;

}
.container .box{
    position: absolute;
    left: 165px;
    top: 205px;
}
.text{
    width: 364px;
    height: 60px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 56px;
    left: 538px;

}


.box{
    position: absolute;
    width: 350px;
    height: 210px;
    background: white;
    border-radius: 4px;
    transition: 0.5s linear;
}


.box-body{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 290px;
    top: 175px;
    background: #F26522;
    border-radius: 20px 2px;
}
.box-body img{
    padding: 25px;
    margin-bottom: 19px;
}
.text2{
    position: absolute;
    width: 144px;
    height: 24px;
    left: 103px;
    top: 89px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #131A22;
}
.text3{
    position: absolute;
    width: 307.51px;
    height: 70.93px;
    left: 21px;
    top: 123px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    /* green */

    color: #37475A;

    transform: rotate(-0.53deg);

}


.container .box2{
    position: absolute;
    left: 545px;
    top: 205px;
}

.box2{
    position: absolute;
    width: 350px;
    height: 210px;
    background: white;
    border-radius: 4px;
}
.box-body2{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 670px;
    top: 175px;
    background: #F26522;
    border-radius: 20px 2px;
}
.box-body2 img{
    padding: 25px;
    margin-bottom: 19px;
}
.text4{
    position: absolute;
    width: 144px;
    height: 24px;
    left: 119px;
    top: 89px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #131A22;
}
.text5{
    position: absolute;
    width: 307.51px;
    height: 70.93px;
    left: 21px;
    top: 123px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    /* green */

    color: #37475A;

    transform: rotate(-0.53deg);

}


.container .box3{
    position: absolute;
    left: 925px;
    top: 205px;
}

.box3{
    position: absolute;
    width: 350px;
    height: 210px;
    background: white;
    border-radius: 4px;
}
.box-body3{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1050px;
    top: 175px;
    background: #F26522;
    border-radius: 20px 2px;
}
.box-body3 img{
    padding: 25px;
    margin-bottom: 19px;
}
.text6{
    position: absolute;
    width: 144px;
    height: 24px;
    left: 116px;
    top: 89px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #131A22;
}
.text7{
    position: absolute;
    width: 307.51px;
    height: 70.93px;
    left: 21px;
    top: 123px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    /* green */

    color: #37475A;

    transform: rotate(-0.53deg);

}

.container .box4{
    position: absolute;
    left: 355px;
    top: 475px;
}

.box4{
    position: absolute;
    width: 350px;
    height: 210px;
    background: white;
    border-radius: 4px;
}
.box-body4{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 480px;
    top: 445px;
    background: #F26522;
    border-radius: 20px 2px;
}
.box-body4 img{
    padding: 25px;
    margin-bottom: 19px;
}
.text8{
    position: absolute;
    width: 144px;
    height: 24px;
    left: 60px;
    top: 89px;
    white-space: nowrap;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #131A22;
}
.text9{
    position: absolute;
    width: 307.51px;
    height: 70.93px;
    left: 21px;
    top: 123px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    /* green */

    color: #37475A;

    transform: rotate(-0.53deg);

}


.container .box5{
    position: absolute;
    left: 735px;
    top: 475px;
}

.box5{
    position: absolute;
    width: 350px;
    height: 210px;
    background: white;
    border-radius: 4px;
}
.box-body5{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 860px;
    top: 445px;
    background: #F26522;
    border-radius: 20px 2px;
}
.box-body5 img{
    padding: 25px;
    margin-bottom: 19px;
}
.text10{
    position: absolute;
    width: 144px;
    height: 24px;
    left: 11px;
    top: 89px;
    white-space: nowrap;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #131A22;
}
.text11{
    position: absolute;
    width: 307.51px;
    height: 70.93px;
    left: 21px;
    top: 123px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    /* green */

    color: #37475A;

    transform: rotate(-0.53deg);

}





