*{
    margin: 0;
    padding: 0;
}
.title{
  width: 400px;
    height: 50px;
    border:2px solid transparent;
    font-size: 50px;
    font-weight: bold;
    margin:60px  auto;
    transition: 0.5s linear;
}
.title:hover{
    border: 2px solid red;
}
.title2{
    width: 314px;
    height: 504px;
    position: absolute;
    z-index: 5;
    margin: 450px 0px;

}
.title3{
    width: 332px;
    height: 565px;
    position: absolute;
    z-index: 7;
    margin:-160px 1120px;

}
.box{
    width: 1450px;
    height: 1120px;
    margin:50px auto;
    border: 2px solid transparent;
    transition: 0.5s linear;
}
.box:hover{
    border: 2px solid red;
}
.box .title{
}
.box-body{
    width: 1100px;
    height: 850px;
    /*border: 2px solid red;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 200px;
}
.link{
    width: 255px;
    height: 255px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: -255px;
    transition: 0.5s linear;
}
.link:hover{
    top: 0;
}
.link-body {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding:169px 63px 10px 63px;
    box-sizing: border-box;
}
.link1{
    width: 160px;
    height: 31px;
    border:2px solid blue;
    font-size: 18px;
    margin-left: 47px;
    display: block;
    padding: 3px 17px;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    background-color: black;
    border-radius: 15px;
    transition: 0.5s linear;
    
}
.link1:hover{
    background-color: red;
}







.box1{
    width: 255px;
    height: 255px;
    border: 2px solid transparent;
    transition: 0.5s linear;
    position: re;
}
.box1:hover{
    border: 2px solid red;
}
.box1 img{
    border-radius: 6px;
}
.box2{
    width: 255px;
    height: 255px;
    border: 2px solid transparent;
    transition: 0.5s linear;



}
.box2:hover{
   border: 2px solid red;
}
.box2 img{
    border-radius: 6px;
}
.box3{
    width: 255px;
    height: 255px;
    border: 2px solid transparent;
    transition: 0.5s linear;

}
.box3:hover{
    border: 2px solid red;
}
.box3 img{
    border-radius: 6px;
}
.box4{
    width: 255px;
    height: 255px;
    border: 2px solid transparent;
    transition: 0.5s linear;

}
.box4:hover{
    border: 2px solid red;
}
.box5{
    width: 255px;
    height: 255px;
    border: 2px solid transparent;
    transition: 0.5s linear;

}
.box5:hover{
    border: 2px solid red;
}
.box5 img{
border-radius: 6px}
.box6{
    width: 255px;
    height: 255px;
    border: 2px solid transparent;
    transition: 0.5s linear;

}
.box6:hover{
    border:2px solid red;
}
.box6 img{
    border-radius: 6px
}
.box7{
    width: 255px;
    height: 255px;
    border: 2px solid transparent;
    transition: 0.5s linear;
}
.box7:hover{
    border: 2px solid red;
}
.box7 img{
    border-radius: 6px
}
.box8{
    width: 255px;
    height: 255px;
    border: 2px solid transparent;
    transition: 0.5s linear;



}
.box8:hover{
    border: 2px solid red;
}
.box8 img{
    border-radius: 6px

}
.box9{
    width: 255px;
    height: 255px;
    border: 2px solid transparent;
    transition: 0.5s linear;

}
.box9:hover{
    border: 2px solid red;
}
.box9 img{
    border-radius: 6px

}
.box10{
    width: 255px;
    height: 255px;
    border: 2px solid transparent;
    transition: 0.5s linear;

}
.box10:hover{
    border: 2px solid red;
}
.box10 img{
    border-radius: 6px

}
.box11{
    width: 255px;
    height: 255px;
    border: 2px solid transparent;
    transition: 0.5s linear;

}
.box11:hover{
    border: 2px solid red;
}
.box11 img{
    border-radius: 6px

}
.box12{
    width: 255px;
    height: 255px;
    border: 2px solid transparent;
    transition: 0.5s linear;

}
.box12:hover{
    border: 2px solid red;
}
.box12 img{
    border-radius: 6px

}

