.box {
    width: 300px;
    height: 300px;
    /*background-color: red;*/

    /*margin-top: 100px;*/
    /*margin-left: 50px;*/
    /*margin-bottom: 50px;*/
    /*margin-right: 100px;*/
    margin: 50px auto;

    color: red;
    font-size: 25px;
    font-weight: bold;
    text-align: justify;
    padding: 25px;
    box-sizing: border-box;

    /*solid,dotted,dashed,double*/
    border: 5px double blue;

    border-radius: 60px 40px  20px 0;
}

body, h1 {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}