body {
    background-color: orange;
    margin: 0;
}

.container {
    width: 1100px;
    height: 600px;
    margin: 20px auto;
}

.card {
    height: 600px;
    width: 500px;
    background-color: white;
    float: left;
    border-radius: 60px 0 60px 0;

}

.card2 {
    margin-left: 100px;
}

.card img {
    width: 100%;
}

h1 {
    margin: 0;
}

.card-body {
    padding: 20px 40px;
}
.text{
    margin-top: 30px;
    font-size: 20px;
    text-align: justify;
    line-height: 24px;
}