.text{font-size: 40px;

    font-family: 'Orelega One', cursive;
}
.text1{
    font-size: 40px;
    font-family: 'Orelega One', cursive;
    font-family: 'Roboto Mono', monospace;
}
 @font-face {
    font-family:'Montserrat-ExtraBoldItalic ';
     src: url("Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}
.text3{
    font-size: 40px;
    font-family: 'Montserrat-ExtraBoldItalic', sans-serif;
}
@font-face {
    font-family: 'Montserrat-SemiBoldItalic';
    src: url("Montserrat/Montserrat-SemiBoldItalic.ttf");
}
.text4{
    font-size: 40px;
    font-family:'Montserrat-SemiBoldItalic' , sans-serif ;
}


.transitions-element{
    width: 1000px;
    height: 620px;
    padding: 20px;
    box-sizing: border-box;
    margin: 50px auto;
    border: 2px solid black;
}
.card1{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 2s linear;
}
.transitions-element:hover .card1{
    margin-left: 860px;
}
.card2{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    background-color: green;
    transition: 2s ease;
}
.transitions-element:hover .card2{
    margin-left: 860px;
}
.card3{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    background-color: blue;
    transition: 2s ease-in;
}
.transitions-element:hover .card3{
    margin-left: 860px;
}
.card4{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    background-color: black;
    transition: 2s ease-out;
}
.transitions-element:hover .card4{
    margin-left: 860px;
}
.card5{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    background-color: yellow;
    transition: 2s ease-in-out;
}
.transitions-element:hover .card5{
    margin-left: 860px;
}
.shadow-element::selection{
    width: 1000px;
    height: 300px;
    margin: 20px auto;
    border: 1px solid red;
    transition: 0.4s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}
.shadow-element:hover{
    box-shadow: 10px 10px 15px red, -10px -10px 15px black;
    text-shadow: 10px 10px 9px black;
}


@font-face {
    font-family:'Montserrat' ;
    src: url("Montserrat/");
}
.text5{
    font-family: 'Montserrat-Montserrat-Italic.ttf' , sans-serif;
    font-size: 40px;
}