body{
    background-color: #e2e2e2;
}

header .card-header{
    padding: 0;
    border-radius: 0;
    border-bottom: none;

}
header .card{
    border: none;
}
header .title{
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
}
header .card-body{
    padding: 20px;
}
header .price{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
header .add-card{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #F6F6F6;
    cursor: pointer;
    padding: 12px 14px;
    box-sizing: border-box;
}
 header .owl-theme .owl-nav [class*='owl-']{
    width: 46px;
    height: 46px;
    border-radius: 50%;
     box-shadow: 0 2px 2px rgba(222, 222, 222, 0.53);
     background-color: white !important;
}
button:focus{
    outline: none;
}
header .owl-prev span , header .owl-next span{
    display: none;
}

header .owl-next ,header .owl-prev {
    background-image: url("../images/Vector (3).png") !important;
    background-repeat: no-repeat !important;
    background-position:  center center !important;
}
header .owl-prev{
    transform: rotate(180deg);

}
header .owl-prev , header .owl-next{
    position: absolute;
    top: 40%;
    left: -23px;
    margin: 0 !important;
}
header .owl-next{
    right: -23px;
    left: auto;
}













