$bgColor: #F6F6F6;
$textColor: #ACACAC;
$mainColor: #00D74A;
$headerColor: #475463;
$boxColor: #F2FDF6;

%allButton {
  width: 233px;
  height: 72px;
  background: $mainColor;
  border-radius: 10px;
  transition: 0.5s linear;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: block;
  border: none;

  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: none;
    color: white;
  }
}

%allTitle {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

.icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: $textColor;
  transition: 0.4s linear;

  mask: {
    position: center center;
    repeat: no-repeat;
    size: 90%;
  };
  -webkit-mask: {
    position: center center;
    repeat: no-repeat;
    size: 90%;
  };
}

.icon-map {
  mask-image: url("../images/map.svg");
  -webkit-mask-image: url("../images/map.svg");
}

.icon-language {
  mask-image: url("../images/language.svg");
  -webkit-mask-image: url("../images/language.svg");
}

.icon-payment {
  mask-image: url("../images/payment.svg");
  -webkit-mask-image: url("../images/payment.svg");
}

.icon-faq {
  mask-image: url("../images/faq.svg");
  -webkit-mask-image: url("../images/faq.svg");
}

.top-menu {
  background-color: red;

  .left-side, .right-side {
    .nav {
      .nav-item {
        .nav-link {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: $textColor;
          margin: 0 16px;
          padding: 22px 0;
          transition: 0.4s linear;
          border-bottom: 2px solid transparent;

          &:hover {
            color: $mainColor;
            border-bottom: 2px solid $mainColor;
          }
        }
      }

      .nav-item:nth-child(1) {
        .nav-link {
          margin-left: 0;
        }
      }

      .nav-item:last-child {
        .nav-link {
          margin-right: 0;
        }
      }
    }
  }

  .right-side {
    .nav {
      .nav-item {
        display: flex;
        align-items: center;
        margin: 0 16px;

        &:hover {
          .icon {
            background-color: black;
          }
        }

        .icon {
          margin-right: 10px;

        }

        .nav-link {
          font-weight: normal;
          margin: 0;

          &:hover {
            color: black;
            border-bottom: 2px solid transparent;
          }

        }
      }

      .nav-item:last-child {
        margin-right: 0;
      }
    }
  }
}

