*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    ;
}
body{
    font-family: 'monserrat',sans-serif;
    background-image: url('./pexels-johannes-plenio-1118873.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.app-wrap{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    background-image: linear-gradient(to bottom ,rgba(0,0,0,0.3),rgba(0,0,0,0.6));
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}
header input{
    width: 100%;
   max-width: 280px;
   padding: 10px 15px;
   border: none;
   outline: none;
   background-color: rgba(255, 255, 255, 0.5);
   border-radius: 16px 0 16px 0;
   color: #333;
   border-bottom: 3px solid #df8e00;
   font-size: 20px;
   font-weight: 300;
   transition: .3s ease-out;
}
header input:focus{
    background-color:rgba(255, 255, 255, 0.8) ;
    border-radius:0 16px 0 16px ;
}

main{
    margin-top: 20vh;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city{
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}
 .location .date{
color: #fff;
font-size: 16px;
}
.main-temp .temp{
    font-size:100px ;
    color: #fff;
    font-weight: 900;
    margin:30px 0 ;
    text-shadow: 2px 10px rgba(0,0,0,0.6);
}
.main-temp span{
    font-weight: 500;
}
.main-temp .weather{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    font-style:italic;
    margin-bottom: 15px;
    text-shadow: 0 3px rgba(0,0,0,0.6);
}
.main-temp .hi-low{
    color: #fff;
    font-style: 24px;
    font-weight: 500;
    text-shadow: 0 4px rgba(0,0,0,0.4) ;
}

@media(max-width:900px) {
    .app-wrap{
        grid-template-columns: 100%;
    }
    main{
       margin-top: 50px; 
    }
}