* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  height: 90px;
  width: 1162px;
  display: flex;
  align-items: center; }
  .container .row .col-md-12 .navbar-expand-md {
    padding: 0; }
  .container .row .col-md-12 .navbar-brand {
    margin: 0;
    animation-name: brand;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-iteration-count: 3; }
@keyframes brand {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(1.2); }
  50% {
    transform: scale(1); }
  70% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
  .container .row .col-md-12 .collapse {
    display: flex;
    justify-content: space-between; }
    .container .row .col-md-12 .collapse .nav {
      display: flex;
      align-items: center; }
      .container .row .col-md-12 .collapse .nav .nav-item {
        margin-left: 50px; }
        .container .row .col-md-12 .collapse .nav .nav-item .nav-link {
          padding: 0;
          color: black;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          transition: 0.4s linear;
          position: relative; }
          .container .row .col-md-12 .collapse .nav .nav-item .nav-link::after {
            content: '';
            height: 2px;
            background-color: red;
            position: absolute;
            display: block;
            transition: 0.4s linear;
            margin-top: 6px; }
          .container .row .col-md-12 .collapse .nav .nav-item .nav-link:hover::after {
            content: '';
            width: 100%;
            transition: 0.4s linear;
            animation-name: animation;
            animation-duration: 0.4s; }
          .container .row .col-md-12 .collapse .nav .nav-item .nav-link:hover {
            transform: scale(1.1); }
@keyframes animation {
  0% {
    transform: rotate(0); }
  90% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(180deg); } }
        .container .row .col-md-12 .collapse .nav .nav-item .box {
          background-color: #F7F7F7;
          border-radius: 1000px;
          padding: 0 15px 0 15px; }
          .container .row .col-md-12 .collapse .nav .nav-item .box img {
            width: 18px;
            height: 18px;
            margin: 10px 10px 10px 0; }
          .container .row .col-md-12 .collapse .nav .nav-item .box input {
            border: none;
            background-color: #F7F7F7; }

/*# sourceMappingURL=main.css.map */
