Bu CSS

.navbar-nav{
    margin: 0 25px;
}
.d-flex{
    width: 300px;
    margin-right: 30px;
}
.fa-search{
  transform: translate(-310px);
}
.me-2{
    padding-left: 50px;
    border-radius: 30px;
    background: #F7F7F7;
}
.far{
    margin-right: 20px;
}
.mt-2{
    transform: translateY(-90px);
}
.nav-item a{

}