.chapter {

  .container {
    padding: 50px !important;
    .accordion {
      border: none;
      border-radius: 0;
      .accordion__item{
        margin-bottom: 20px;
       max-width: 976px;
        max-height: 112px;
      background: #ffffff;
      }
            .accordion-button-name{
              display: flex;
              align-items: center;
              .img{
                width: 42px;
                height: 42px;
                border: 1px solid red;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 20px;
        }
              .name{
                font-size: 20px;
                font-weight: bold;
              }
      }

    }
  }
}
.accordion__button{
  background: #ffffff;
  border-radius: 10px;
}
.accordion__button:before {
  float: right;
  margin-top: 1.5%;
  transform: rotate(-135deg);
}
