
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
  background-color: #FAFAFA;
}
.title{
    height: 96px;
    display: flex;
    background-color: white;
}
.title1{
    margin: 26px 0 0 118px;

}
.title2{
    margin: 35px 0 0 96px;
}
.title3{
    margin: 38px 0 0 491px ;
}
.title4{
    margin: 38px 0 0 40.5px;
}
.title5{
    width: 50px;
    height: 50px;
    margin: 28px 108px 0 38.5px;
}



.body{
    height: 490px;
    display: flex;
}
.body-body{
    width: 50%;
}
.body-body2{
    width: 50%;
}
.body-body2 img{
    margin: 76px 0 0 240px;
}
.text{
    width: 548px;
    height: 130px;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 65px;
    color: #000000;
    margin: 93px 244px 0 118px;

}
.text2{
    width: 543px;
    height: 60px;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
     margin: 13px 0 0 118px;


    color: #000000;

}
button{
    width: 239px;
    height: 60px;
    left: 165px;
     margin: 48px 22px 86px 118px;
    background: #000000;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    transition: 0.5s linear;
    color: #FFFFFF;
}
button:hover{
    background-color: red;
       }
.text3{
    margin:68px 16px 0 0  ;
    width: 153px;
    height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #000000;

}
.text4{
    display: flex;

}
.text3::after{
    content: 'bepul';
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.text5{
    width: 20px;
    height: 20px;
    margin-top: 68px;
}
.img1{
    height: 570px;
    background-image: url("imags/Mask Copy.png");
    padding: 210px 644px;
}
.radius{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    padding: 50.41px 50.3px 50.41px 62px;
}

.box100{
    width: 1110px;
    height: 150px;
    background-color: white;
    display: flex;
    border: 1px solid transparent;
    margin: -30px auto;
    border-radius: 10px;
}
.box1{
    margin: 38px 131px 5px 69px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;

}
.box2{
     width: 122px;
     height: 39px;
    margin: 0 90px 38px 69px;
     font-style: normal;
     font-weight: bold;
     font-size: 23px;
     line-height: 38px;
 }

.box3{
    width: 67px;
    height: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    margin: 38px 207px 5px 0;
}
.box4{
    width: 181px;
    height: 39px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 38px;
    margin: 0 90px 38px 0;
}
.box5{
    width: 57px;
    height: 30px;
    margin: 38px 9px 5px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
.box6{
    width: 103px;
    height: 39px;
     margin: 0 90px 0 0 ;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 38px;
}
.box7{
    width: 20px;
    height: 20px;
    margin: 43px 107px 10px 0 ;
}
.box8{
    display: flex;
}
.box9{
    width: 133px;
    height: 30px;
    margin: 38px 0 5px 0 ;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
.box10{
    width: 282px;
    height: 39px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
}
.body6{
    width: 752px;
    height: 110px;
    margin: 151px 523px 32px 118px ;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
}
.body7{
    width: 796px;
    height: 116px;
    margin: 0 0 72px 118px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 38px;
}
.body8{
    width: 546px;
    height: 399px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 18px 17px 118px ;
    border: 1px solid transparent;
}
.box11{
    width: 80px;
    height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin: 109px 209px 17px 49px;
}
.box12{
    width: 183px ;
    height: 80px;
    margin: 0 106px 27px 49px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
}
.box13{
    display: flex;

}
.box14{
    width: 160.12px;
    height: 161.77px;
    margin: 48px 47.88px 47.23px 0;
}
.box14 img{
    width: 100%;
}
.body9{
    width: 449px;
    margin: 0 48px 56px 49px;


}
.body10{
    display: flex;

}


.box21{
    width: 81px;
    height: 19px;
    margin: 0 56px 6px 49px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

}
.box17{
    width: 84px ;
    height: 22px;
    margin: 0 53px 43px 49px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.box19{
    width: 104px;
    height: 19px;
    margin: 0 51px 6px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.box20{
    width: 81px;
    height: 22px;
    margin: 6px 74px 43px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
.body8 button{
    width: 157px;
    height: 60px;
    margin:0 48px 35px 0;
    border-radius: 10px;
    background: #000000;
}
.body8 button:hover{
    background-color: red;
}
a{
text-decoration: none;
    color: white;
    font-size: 20px;
}
.body11{
    display: flex;
    flex-wrap: wrap;
}

.body30{
    width: 546px;
    height: 399px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 18px 17px 0 ;
    border: 1px solid transparent;
}
.box11{
    width: 80px;
    height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin: 109px 209px 17px 49px;
}
.box12{
    width: 183px ;
    height: 80px;
    margin: 0 106px 27px 49px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
}
.box13{
    display: flex;

}
.body30 .box14{
    width: 160.12px;
    height: 161.77px;
    margin: 48px 47.88px 47.23px 0;
    padding-top: 70px;
}

.body9{
    width: 449px;
    margin: 0 48px 56px 49px;


}
.body10{
    display: flex;

}


.box21{
    width: 81px;
    height: 19px;
    margin: 0 56px 6px 49px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

}
.box17{
    width: 84px ;
    height: 22px;
    margin: 0 53px 43px 49px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.box19{
    width: 104px;
    height: 19px;
    margin: 0 51px 6px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.body30 .box20{
    width: 122px;
    height: 22px;
    margin: 6px 35px 43px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
.body30 button{
    width: 157px;
    height: 60px;
    margin:0 48px 35px 0;
    border-radius: 10px;
    background: #000000;
}
.body30 button:hover{
    background-color: red;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}



.body31{
    width: 546px;
    height: 399px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 18px 17px 118px;
    border: 1px solid transparent;
}
.box11{
    width: 80px;
    height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin: 109px 209px 17px 49px;
}
.box12{
    width: 183px ;
    height: 80px;
    margin: 0 106px 27px 49px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
}
.box13{
    display: flex;

}
.box14{
    width: 160.12px;
    height: 161.77px;
    margin: 48px 47.88px 47.23px 0;
}
.box14 img{
    width: 100%;
}
.body9{
    width: 449px;
    margin: 0 48px 56px 49px;


}
.body10{
    display: flex;

}


.box21{
    width: 81px;
    height: 19px;
    margin: 0 56px 6px 49px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

}
.box17{
    width: 84px ;
    height: 22px;
    margin: 0 53px 43px 49px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.box19{
    width: 104px;
    height: 19px;
    margin: 0 51px 6px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.body32 .box20{
    width: 122px;
    height: 22px;
    margin: 6px 35px 43px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
.body31 button{
    width: 157px;
    height: 60px;
    margin:0 48px 35px 0;
    border-radius: 10px;
    background: #000000;
}
.body31 button:hover{
    background-color: red;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}




.body32{
    width: 546px;
    height: 399px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 18px 17px 0 ;
    border: 1px solid transparent;
}
.box11{
    width: 80px;
    height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin: 109px 209px 17px 49px;
}
.box12{
    width: 183px ;
    height: 80px;
    margin: 0 106px 27px 49px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
}
.box13{
    display: flex;

}
.box14{
    width: 160.12px;
    height: 161.77px;
    margin: 48px 47.88px 47.23px 0;
}
.box14 img{
    width: 100%;
}
.body9{
    width: 449px;
    margin: 0 48px 56px 49px;


}
.body10{
    display: flex;

}


.box21{
    width: 81px;
    height: 19px;
    margin: 0 56px 6px 49px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

}
.box17{
    width: 84px ;
    height: 22px;
    margin: 0 53px 43px 49px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.box19{
    width: 104px;
    height: 19px;
    margin: 0 51px 6px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.box20{
    width: 81px;
    height: 22px;
    margin: 6px 74px 43px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
.body32 button{
    width: 157px;
    height: 60px;
    margin:0 48px 35px 0;
    border-radius: 10px;
    background: #000000;
}
.body32 button:hover{
    background-color: red;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.body33

{
    width: 752px;
    height: 55px;
    margin: 149px 523px 32px 118px;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
}
.body34{
    width: 796px;
    height: 116px;
    margin: 0 300px 59px 118px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 38px;
}
.body35{
    width: 752px;
    height: 55px;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    margin: 100px 0 17px 118px;
}

.body36{
    width: 1112px;
    display:flex ;
    border: 1px solid transparent;
    margin: 0 118px 0 118px;
    flex-wrap: wrap;
}
.body36 :nth-child(3){

   margin-right: 0;
}
.body36 :nth-child(6){

   margin-right: 0;
}
.box22{
    width: 356px;
    height: 335px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid transparent;
    margin:21px  21px 0 0 ;
}
.box23{
    width: 145px;
    height: 145px;
    border-radius: 50%;
    margin: 35px 105px 34px 106px;
}
.box24{
    width: 207px;
    height: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    margin: 0 75px 4px 76px;
}
.box25{
    width: 175px;
    height: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    margin: 0 90px 19px 91px;
}
.box26{
    width: 92px;
    height: 17px;
    margin: 0 132px 26px 132px;
}

.body37{
    width: 752px;
    height: 110px;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    margin: 175px 0 32px 118px;
}
.body38{
    width: 1110px;
    height: 677px;
    margin: 42px 118px 170px 118px;
    background-color: white;
    position: relative;
}
.box27{
    display: flex;
    border: 1px solid transparent;
}
.box28{
    width: 99px;
    height: 99px;
    border-radius: 50%;
    margin: 45px 45px 0 41px;
}
.box29{
    width: 77px;
    height: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 55px  475px 0 0;
}
.box30{
    width: 346px;
    height: 40px;
    margin: 0 206px 65px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
}
.box32{
    width: 860px;
    height: 2px;
    margin: 0 0 24px 185px;
    background-color: black;;
}
.box33{
    width: 138px;
    height: 30px;
    margin-left: 185px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}
.box39{
    width: 262px ;
    height: 40px;
    margin: 0 0 66px 185px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px
}
.box40{
    width: 236px;
    height: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 25px;
    margin: 0 0 37px 185px;
}
.box41{
    display: flex;
}
.box42 ul li:nth-child(1){
    width: 128px;
    height: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin:0 125px 50px 215px ;
}
.box42 ul li:nth-child(2){
    width: 165px;
    height: 90px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin: 0 88px 63px 215px;
}
.box43 ul li:nth-child(1){
    width: 197px;
    height: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin:0 133px 50px 0;
}
.box43 ul li:nth-child(2){
    width: 246px;
    height: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin:0 84px 93px 0;
}
.box44 ul li:nth-child(1){
    width: 185px;
    height: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    margin:0 27px 52px 0;
}
.box44 ul li:nth-child(2){
    width: 262px;
    height: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

}
.box45{
    position: absolute;
    top: 48px;
    right: 95px;
}
.body39{
    width: 752px;
    height: 55px;
    margin: 0 0 32px 118px;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
}
.body40{
    width: 796px;
    height: 116px;
    margin: 0 0 74px 118px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 38px;
}
.body41{
    display: flex;
    border: 1px solid red;
    width: 100%;
    /*height: 500px;*/
}


.body42{
    border: 1px solid transparent;
    width: 70%;
}
.body43{

}
.body44{
    border: 1px solid blue;
    width: 30%;
}
.box50{
   border: 1px solid transparent;

}
.box51{
    width: 570px;
    height: 2px;
    background-color: black;
    margin-left: 118px;
}
.box52{
    width: 250px;
    height: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 32px 0 0 0;
}
.box53{
    border: 1px solid transparent;
    display: flex;
}
.box54{
    border: 1px dashed transparent;
    width: 215px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 32px;
}
.box55{
    border: 1px dashed transparent;
    width: 145px;
    height: 30px;
    background: rgba(238,170,197,0.3);

    border-radius: 100px;
    margin: 6px 0 0 31px;
}
del{
    width: 115px;
    height: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-decoration-line: line-through;
    color: #ECB559;
    opacity: 119;
    margin: 0 14px 0 16px;}
.box56{
    display: flex;
}
.box57{
    width: 25px;
    height: 25px;
    margin: 49.5px 26.5px 0 120.5px;
}
.book{
    width: 18.67px;
    height: 18.67px;
    margin: 57px 0 0 99.67px;
}



.body41{
    display: flex;
    border: 1px solid red;
    width: 100%;
    /*height: 500px;*/
}


.body90{
    border: 1px solid transparent;
    width: 70%;
}
.body43{

}
.body44{
    border: 1px solid transparent;
    width: 30%;
}
.box94{
    border: 1px solid transparent;

}
.box91{
    width: 570px;
    height: 2px;
    background-color: black;
    margin-left: 118px;
}
.box95{
    width: 250px;
    height: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 32px 0 0 0;
}
.box96{
    border: 1px solid transparent;
    display: flex;
}
.box97{
    border: 1px dashed transparent;
    width: 216px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 32px;
}
.box98{
    border: 1px dashed transparent;
    width: 145px;
    height: 30px;
    background: #e9cc8d;
    opacity: 46.15;
    border-radius: 100px;
    margin: 6px 0 0 31px;
}
del{
    width: 115px;
    height: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-decoration-line: line-through;
    color: #ECB559;
    opacity: 119;
    margin: 0 14px 0 16px;}
.box92{
    display: flex;
}
.box93{
    width: 25px;
    height: 25px;
    margin: 49.5px 26.5px 0 120.5px;
}
.book1{
    width: 18.67px;
    height: 18.67px;
    margin: 57px 0 0 241.67px;
}


.cup10{
    width: 445px;
    height: 100px;
    background: rgba(238,170,197,0.3);

    border-radius: 10px;
    border: 1px solid transparent;
    display: flex;
    margin: 0 0 22px 101.67px;
}
.cup11{
    width: 33.33px;
    height: 33.31px;
margin: 31.33px 42.33px 37px 33.33px  ;
}
.cup12{
    width: 209px;
    height: 56px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */

    letter-spacing: -0.02em;

    color: #ECB559;
    margin-top: 22px;

}
.cup13{
    width: 445px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 0 22px 101.67px;
    display: flex;

}
.cup14{
    margin: 15px;
}
.cup15{
    width: 299px;
    height: 53px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;


    letter-spacing: -0.02em;

    color: #000000;
    margin: 24px 37px 23px 24px;
}
.cup15::after{
    content: '   7 kun ichida pulni qaytarib olish kafolatlanadi ';
   font-size: 13px;
    font-weight: normal;

}
.cup16{
    width: 445px;
    height: 180px;
    background: #FFFFFF;
    border-radius: 10px;
 margin: 12px 0 0 101.67px;
    display: flex;
    border: 1px solid transparent;
}
.cup17{
    margin: 15px 24px 95px 15px;
    width: 70px;
    height: 70px;
}
.cup18{
    width: 310px;
    height: 131px;
    margin: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
}
.cup18::before{
    content: '12% Kashback ';
    font-weight: bold;
    font-size: 16px;
}
.cup19{
    width: 445px;
    height: 129px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 12px 0 12px 101.67px;
    border: 1px solid transparent;
    display: flex;
}
.cup20{

    background: #F6F5F3;
    border-radius: 50%;
    margin: 15px 24px 44px 15px;
}
.cup21::before{
    content: 'Savolingiz bormi ? ';
    font-weight: bold;
    font-size: 16px;

}
.cup21{
    width: 445px;

    background: #FFFFFF;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    margin: 24px 52px 26px 24px;
}
.cup22{
    width: 445px;
    height: 483px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 12px 0 30px 100px;
    border: 1px solid transparent;
}
.cup23{
    width: 208px;
    height: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin: 30px 208px 8px 29px;
}

.cup24{

    width: 207px;
    border:2px dashed black ;
    margin: 0 0 80px 30px;
}
.cup25{
    width: 72px ;
    height: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 7px 29px;
}
.cup26px{
    width: 175px;
    height: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    margin: 0 0 40px 25px;
    color: red;
}
.cup27{
    width: 146px;
    height: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    margin:  0 0 7px 29px;
}
.cup28{
    width: 159px;
    height: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    color: red;
    margin: 0 0 40px 29px;
}
.cup29{
    width: 303px;
    height: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    margin: 0 0 20px 29px;
}
.cup30{
    width: 386px;
   border: 2px solid black;
    margin: 0 0 8px 29px;
}
.cup31{
    width: 191px;
    height: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    margin: 30px 0 10px 29px;
}
.cup32{
    width: 209px;
    height: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 25px;
    margin: 0 0 30px 29px;
}

.body80{
    height: 96px;
    width: 100%;
    background-color: white;
    display: flex;
}
.cup33{


    border: 1px solid transparent;
}
.cup34{
    width: 125px;
    height: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    margin: 23px 569px 9px 118px;
}
.cup35{
    width: 400px;
    height: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin: 0 294px 25px 118px;
}
.cup36{

}
.cup37{
    width: 191px;
    height: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    margin: 23px 0 9px 0;

}
.cup38{
    width: 172px;
    height: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 23px 0;
}
 .body81{
     height: 636px;
     width: 100%;
     border: 1px solid transparent;
     display: flex;
 }

.map1{
    width: 208px;
    height: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
    margin: 116px 0 14px 120px;
}
.map2{
    width: 177px;
    height: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    margin: 0 0 67px 120px;
    color: #898989;
}
.map3{
    width: 16.01px;
    height: 21px;
    margin: 0 0 16px 124px;
}
.map4{
    width: 291px;
    height: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 45px 120px;
}
.map5{
    display: flex;
    margin: 0 0 59.71px 120px;
}
.map6{
    width: 72px;
    height: 101.79px;
    margin-right: 25px;
}

.map7{
    width: 1110px;
    border: 2px solid black;
    margin: 0 0 40.5px 120.5px;
}
.map8{
    width: 386px;
}
.map10{
    width: 74px;
    height: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
    margin:120px 0 0 288px ;
}
.map11{
    width: 146px;
    height: 168px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 50px;
   margin: 0 0 197px 288px;


    color: #898989;

}
.map13{
    width: 65px;
    height: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
    /* identical to box height, or 80% */


    color: #000000;
    margin: 120px 110px 27px 102px;
}
.map14{
    width: 80px;
    height: 168px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 42px;
    /* or 233% */


    color: #898989;
    margin: 0 110px 0  102px;
}
.map16{
    width: 102px;
    height: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
    margin: 120px 0  27px 0;
}

.map17{
    width: 127px;
    height: 168px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 42px;
    color: #898989;

}

.map18{
    display: flex;
    width: 1110px;
    margin: 0 120px;
    border: 1px solid transparent;
}

.hp{
    display: flex;
    width: 1110px;
    border: 1px solid transparent;
    margin: 0 120px;
}
.hp1{
    width: 163px;
    height: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;}
.hp2{
    display: flex;

}

.hp3{

    margin: 0 24px 0 839px;

}

.hp4{
    margin-right: 24px;
}




