*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-body{
    font-weight: bold;
    font-size: 31px;
}
.text{
    margin-bottom: 45px;
}
.text img{
    width: 77.05px;
    height: 75.61px;
    margin: 7px 28px 0 0;
}
.text2{
    width: 500px;
    height: 471px;
    background-image: url("../images/a2.png");
    background-repeat: no-repeat;
    background-position: 104px 0;
}
.text3{
    margin: 45px 0 45px 0;
}
.text3 img{
    margin-right: 30px;
}

.book{
    margin-left: 100px;
    margin-bottom: 30px;


}

.submit{
    width: 273px;
    height: 64px;
    background: #FEDD00;
    box-shadow: 3px 3px 10px #D8D4BD;
    border-radius: 100px;
    margin-left: 108px;
    font-weight: bold;
    font-size:17px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 30px;


}
.box{
    background-color: #F6F6F6;
    padding: 40px;
    border-radius: 10px ;

}
.box-body{
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 40px;
}
.box-body2{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 38px;
}
.box-body3{
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 117px;
}
.submit5{
    width: 270px;
    height: 52px;
    border: 1px solid #2F2B29;
    box-sizing: border-box;
    border-radius: 100px;
    font-weight: 600;
    font-size: 17px;
    outline: none;
}
.submit5:focus{
    outline: none;
}
.submit7{
    width: 374px;
    height: 86px;
    background: #FEDD00;
    box-shadow: 3px 3px 10px #D8D4BD;
    border-radius: 100px;
    font-weight: bold;
    font-size: 20px;
}
.box7{
    margin-top: 60px;
}

.text8{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 50px;
}


@media(max-width: 767px) {
.text2{
    display: none;
}
    .text8{
        font-weight: bold;
        font-size: 18px;
    }
    .book{
        margin-left: 0;
    }
    .text3 img{
        width: 36px;
        height: 35px;
    }
    .text img{
        width: 36px;
        height: 35px;
    }
     .text-body{
         font-weight: bold;
         font-size: 18px;
         line-height: 27px;
     }
     .submit{
         width: 263px;
         height: 65px;
         font-weight: bold;
         font-size: 14px;
         line-height: 19px;
           margin-left: 12px;
     }
       .box{
           padding: 30px;

       }
       .box-body{
           font-weight: normal;
           font-size: 14px;
           margin-bottom: 20px;
       }
       .box-body2{
           font-weight: 600;
           font-size: 16px;
           margin-bottom: 20px;
       }
       .box-body3{
           font-weight: normal;
           font-size: 14px;
           margin-bottom: 20px;
       }
       .submit5{
           width: 241px;
           height: 50px;
           font-weight: 600;
           font-size: 14px;
           margin-bottom: 10px;


       }
       .submit5:focus{
           outline: none;
       }
       .book{
           margin-bottom: 30px;

       }
        .box{
            margin-bottom: 20px;
        }
        .submit7{
            width: 294px;
            height: 65px;
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 20px;
        }
        .box7{
            margin-top: 20px;
        }

}




















