*{
    margin:0;
    padding: 0;
}
.box{
    height: 660px;
    /*border: 1px solid red;*/
    display: flex;
    padding: 127px 140px;
    box-sizing: border-box;
    background: #CED3CA;
}
.box1{
    width: 30%;
    height: 406px;
    background: #F7F7F7;

}
.box2{
    width: 70%;
    height: 406px;

}
.box1-body{

    height: 137px;
    width: 208px;
    left: 93px;
    top: 89.75px;
    margin: 90px 0 0 93px;
    font-size: 38px;
    line-height: 46px;
    color: #1A1A1A;




}
.box1-body2{
    margin:33px 0 0 93px;
    font-size: 14px;
    line-height: 21px;
    color: #1A1A1A;
}

p{
    width: 100px;
    height: 2px;
    background-color: black;
    transition: 0.2s linear;
    margin:1.05px 0 0 93px ;
}
p:hover{
    background-color: blue;
}

.container{
    height: 350px;


}

.card{

    text-align: center;
    font-size: 50px;
    line-height: 60px;
    color: #131A22;
}
.card2{
    background: #37475A;

    border-radius: 0px 214.5px 0px 0px;
    text-align: center;
    display: flex;
    height: 282px;
    justify-content:space-between;
    padding: 93px 109px 0 258px;
    box-sizing: border-box;

}

.card-body{
    font-size: 50px;
    line-height: 60px;

    color:black;

}
.card-body2{

    font-size: 24px;
    line-height: 29px;
    text-align: center;


    color:black;

}

.tite{
    width: 1110px;
    height:440px ;
    margin: 50px auto;
}
.title-head{
    font-weight: bold;
    font-size: 46px;
    line-height: 55px;
    color: #131A22;
    text-align: center;
    margin-bottom: 56px;
}
.title-body{
    width: 1110px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body1{
    width: 350px;
    height: 256px;
    background: #FFFDF7;

    border-radius: 4px;
    text-align: center;
    transition: 0.5s linear;
}
.body1:hover{
    box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.1);
}
.body1 img{
    width: 180px;
    height: 180px;
    border: 1px solid transparent;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 50%;
    /*background-color: white;*/
    margin-top: -75px;
    transition: 0.5s linear;
}
.body1 img:hover{
    background-color: white;
    border: 1px solid blue;
}
.name{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #131A22;
    margin: 20px 80px 0px 79px;
}
.jop{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26522;
    margin-top: 13px;

}