*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.burger{
    width: 16px;
}
.nav-item {
    color: black;
    font-weight: 700;
}
.nav-item{
    margin-left: 35px;
}
.nav-link{
    padding: 0;
}
.search{
    margin-left: 30px;

}
























