

input{
    height: 30px;
    width: 150px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: normal;
    color: red;
    border-left: 0;
    border-right: 0;
    border-top: 0;
   border-bottom: 2px solid green;

}
input::placeholder{
    font-size: 18px;
    font-weight: normal;
    /*background-color: green;*/
}
input:focus{
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid black;
}
p:first-letter{
    font-size: 20px ;
    font-weight: bold;
    color: red;
    background-color: white;
}
p:before{
    content:'Ezozbek';
}
p:first-line{
    background-color: blue;
    color: red;
}
p::selection{
    background-color: black;
    color: yellow;
}
p:hover{
  transform: scale(0.5);

}
