*{
    margin: 0;
    padding: 0;
}

.container{
    height: 1902px;
    /*border: 1px solid red;*/
}
.box {
    height: 1752.59px;
    /*border: 1px solid red;*/
    margin: 115.25px 140px 115.16px 140px;

}
.box-body{
   width: 500px;
    height: 72px;
    border: 1px solid transparent;
    text-align: center;
    margin: 113px auto 0 auto;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #1A1A1A;
    display: block;
    transition: 0.5s linear;
}
.box-body:hover{
    border: 1px solid red;
}
.box-body2{
    width: 522px;
    height: 647px;
    border:1px solid transparent;
    margin: 161.75px 11px  0 0;
    display: inline-block;
    transition: 0.5s linear red;
}
.box-body2:hover{
    border: 1px solid red;
}
.box-body3{
    width: 522px;
    height: 647px;
    border:1px solid transparent;
    margin-top: 161.75px;
    display: inline-block;
    transition: 0.5s linear;
}
.box-body3:hover{
    border: 1px solid red;
}
.text{
    width: 97px;
    height: 24px;
    /*border: 1px solid red;*/
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1A1A1A;
    display: inline-block;

}
.text21{
    width: 119px;
    height: 24px;
    /*border: 1px solid red;*/
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1A1A1A;
    display: inline-block;
    margin: 7px 0 0 435px;
}
.box-body4{
    height: 604px;
    border: 1px solid transparent;
    transition: 0.5s linear;

}
.box-body4:hover{
    border: 1px solid red;
}
.box-body4 img{
    width: 1067px;


}
.text3{
    width: 112px;
    height: 24px;
    margin: 6px 0  0 ;
    /*border:1px solid red;*/
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1A1A1A;

}
.small-body{
    display: flex;
}
.small{
    width: 97px;
    height:2px;
    background-color:blue;
    display: inline-block;
}
.small2{
    width: 119px;
    height: 2px;
    background-color: blue;
    display: inline-block;
    margin: 1.52px 0 72px 441px;
}
.small3{
    width: 112px;
    height: 2px;
    background-color: blue;
    margin-top: 1.82px;
}


.container2{
    height: 660px;
    border: 1px solid transparent;
    background: #CED3CA;
    transition: 0.5s linear;
}
.container2:hover{
    border: 1px solid red;
}
.container-body{
    height:406px;
    border: 1px solid transparent;
    display: flex;
    margin: 127px 140px;
    transition: 0.5s linear;
}
.container-body:hover{
    border: 1px solid red;
}
.card{
    width: 30%;
    height: 406px;
    /*border: 1px solid red;*/
    background: #FFFFFF;
}
.card-body{
    width: 111px;
    height: 46px;
    font-weight: normal;
    font-size: 37px;
    line-height: 46px;
    color: #1A1A1A;
    margin: 90px 0 0 93px;

}
.card-body2{
    width: 209px;
    height: 63px;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #1A1A1A;
    margin: 21px 0 0 93px;
}
.card-body3{
    height: 21px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #1A1A1A;
    margin: 32px  0 0 93px;

}
.card-body4{
    width:92px;
    height: 2px;
    background:blue;
    margin: 0.64px   0 0 93px;
}
.card2{
    width:70%;
    height: 406px;
    /*border: 1px solid  red;*/
    }
.card2 img{
    width:100%;
    height: 406px;
}





.container3{
    height: 600px;
    border: 1px solid transparent;
    transition: 0.5s linear;
}
.container3:hover{
    border: 1px solid  red;
}
.boox4{
    width: 100%;
    height: 100%;
}
.boox4 img{
    width: 100%;
    height: 100%;
}
.boox{
    width: 782px;
    height: 108px;
    font-weight: normal;
    font-size: 35px;
    line-height: 54px;
    text-align: center;
    color: white;
    margin: -370px  auto 0 auto;


}
.boox2{
    width: 117px;
    height: 23px;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 0 auto;

}
.boox3{

    width: 117px;
    height: 2px;
    background-color: blue;
    position: absolute;
    left: 626px;



}




.container4{
    height: 443px;
    border: 1px solid transparent;
    background: #CED3CA;
    transition: 0.5s linear;
}
.container4:hover{
    border: 1px solid red;
}
.red1{
    margin: 82px auto  0 auto;
    font-weight: normal;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #1A1A1A;

}
.red2{
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1A1A1A;
    margin: 19px auto 0 auto;

}
.red3{
    width: 414px;
    height: 48px;
    border: 1px solid #242424;
    margin: 56px auto 0 auto;
    display: flex;
    background-color: white;
}
.red-box1{
    width: 85%;
    height: 100%;

}
.red-box2{
    width: 15%;
    height: 100%;
    border: 0.01px solid   #242424;

}
.bn{
    width: 31px;
    height: 20px;
    margin: 11px 18px 17px 17px;

}
.bn img{
    margin-left: 7px;
}
.nb{
    width: 182px;
    height: 23px;
    margin: 11px 192px 14px 18px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: rgba(26, 26, 26, 0.5);
}


.container5{
    height: 359px;
    border: 1px solid transparent;
    background: #F7F7F7;
    transition:0.5s linear;
}
.container5:hover{
    border: 1px solid red;
}
.container5-body{
    margin: 84.84px 140px 85.16px 140px;
    height: 189px;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between;
}
.text1{
    width: 121px;
    height: 18px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #1A1A1A;

}
.text2 {
    width: 75px;
    height: 15px;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #1A1A1A;
    margin: 14px 0 0 0;
}
.text3{
    width: 143px;
    height: 15px;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #1A1A1A;
    margin-top: 16px;
}
.text4{
    width: 40px;
    height: 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #1A1A1A;
    margin: 16px 0;

}
.text5{
    width: 67px;
    height: 15px;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #1A1A1A;

}
.text6{
    width: 75px;
    height: 15px;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #1A1A1A;
    margin: 16px 0;

}
.text7{
    width: 40px;
    height: 18px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #1A1A1A;


}
.text8{
    width: 63px;
    height: 15px;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #1A1A1A;
    margin:16px  0 0 0 ;

}
.text9{
    width: 35px;
    height: 15px;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #1A1A1A;
    margin-top: 16px  ;
}
.text10{
    width:49px ;
    height: 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #1A1A1A;
  margin-top: 16px ;
}
.text11{
    width: 103px;
    height: 15px;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #1A1A1A;
    margin: 16px 0 0 0;

}
.text12{
    width: 57px;
    height: 15px;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #1A1A1A;
    margin-top: 16px ;
}
.text13{
    width: 109px;
    height: 21px;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    /* identical to box height, or 140% */

    text-align: right;

    color: #1A1A1A;

}
.text14{
    width: 233px;
    height:42px ;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    /* or 140% */

    text-align: right;

    color: #1A1A1A;

}
.big2{
margin-right: -300px;
}
.big3{
    width: 150px;
    margin-right: -272px;
}
.text15{
    margin-left: 75px;
    margin-bottom: 36.87px;
}
.text16{
    display: inline-block;
    margin-right: 16px;
}
.text17{
    display: inline-block;
    margin-right: 16px;
}
.text18{
    display: inline-block;
}


