.w-80 {
  width: 80%; }

header .connect-btn, .section-one .col-md-4 .card .tab-content .tab-pane .tab-pane-footer .payment {
  width: 233px;
  height: 72px;
  background: #00D74A;
  border-radius: 10px;
  transition: 0.5s linear;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: block;
  border: none; }
  header .connect-btn:focus, .section-one .col-md-4 .card .tab-content .tab-pane .tab-pane-footer .payment:focus {
    outline: none; }
  header .connect-btn:hover, .section-one .col-md-4 .card .tab-content .tab-pane .tab-pane-footer .payment:hover {
    text-decoration: none;
    color: white; }

.section-one .title {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px; }

.icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #ACACAC;
  transition: 0.4s linear;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: 90%;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 90%; }

.icon-map {
  mask-image: url("../images/map.svg");
  -webkit-mask-image: url("../images/map.svg"); }

.icon-payment {
  mask-image: url("../images/payment.svg");
  -webkit-mask-image: url("../images/payment.svg"); }

.icon-language {
  mask-image: url("../images/lang.svg");
  -webkit-mask-image: url("../images/lang.svg"); }

.icon-faq {
  mask-image: url("../images/faq.svg");
  -webkit-mask-image: url("../images/faq.svg"); }

.icon-mobile {
  mask-image: url("../images/mobile.svg");
  -webkit-mask-image: url("../images/mobile.svg");
  background-color: black;
  width: 12px;
  height: 17px; }

.icon-tv {
  mask-image: url("../images/tv.svg");
  -webkit-mask-image: url("../images/tv.svg");
  background-color: black;
  width: 16px;
  height: 16px; }

.icon-internet {
  mask-image: url("../images/internet.svg");
  -webkit-mask-image: url("../images/internet.svg");
  background-color: black;
  width: 18px;
  height: 15px; }

.top-menu {
  background-color: #F6F6F6; }
  .top-menu .left-side .nav .nav-item .nav-link, .top-menu .right-side .nav .nav-item .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ACACAC;
    margin: 0 16px;
    padding: 22px 0;
    transition: 0.4s linear;
    border-bottom: 2px solid transparent; }
    .top-menu .left-side .nav .nav-item .nav-link:hover, .top-menu .right-side .nav .nav-item .nav-link:hover {
      color: #00D74A;
      border-bottom: 2px solid #00D74A; }
  .top-menu .left-side .nav .nav-item:nth-child(1) .nav-link, .top-menu .right-side .nav .nav-item:nth-child(1) .nav-link {
    margin-left: 0; }
  .top-menu .left-side .nav .nav-item:last-child .nav-link, .top-menu .right-side .nav .nav-item:last-child .nav-link {
    margin-right: 0; }
  .top-menu .right-side .nav .nav-item {
    display: flex;
    align-items: center;
    margin: 0 16px; }
    .top-menu .right-side .nav .nav-item:hover .icon {
      background-color: black; }
    .top-menu .right-side .nav .nav-item:hover .nav-link {
      color: black;
      border-bottom: 2px solid transparent; }
    .top-menu .right-side .nav .nav-item .icon {
      margin-right: 10px; }
    .top-menu .right-side .nav .nav-item .nav-link {
      font-weight: normal;
      margin: 0; }
  .top-menu .right-side .nav .nav-item:last-child {
    margin-right: 0; }

.navbar .nav .nav-item {
  margin-right: 40px; }
  .navbar .nav .nav-item:hover .nav-link {
    color: #00D74A; }
  .navbar .nav .nav-item .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: black;
    transition: 0.4s linear; }
.navbar .nav .nav-item:last-child {
  margin-right: 0;
  cursor: pointer; }

header {
  position: relative;
  background-color: #475463; }
  header .title {
    font-weight: bold;
    font-size: 52px;
    line-height: 62px;
    color: white;
    padding-top: 88px;
    margin-bottom: 42px; }
  header .trafic div:nth-child(1) {
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    color: #00D74A; }
  header .trafic div:last-child {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white; }
  header .connect-btn {
    margin-top: 72px;
    margin-bottom: 33px; }
  header .col-md-5 .operator {
    padding-top: 53px;
    z-index: 2;
    position: relative; }
  header .bg-img {
    position: absolute;
    top: 0;
    right: 7%; }
  header .owl-dots {
    position: absolute;
    right: -74%;
    top: 45%; }
    header .owl-dots .owl-dot {
      display: block !important;
      margin-top: 10px; }
      header .owl-dots .owl-dot:focus {
        outline: none; }
      header .owl-dots .owl-dot span {
        background: rgba(255, 255, 255, 0.5);
        transform: rotate(90deg);
        width: 20px !important; }
    header .owl-dots .active span {
      background-color: #00D74A !important; }

.section-one {
  background-color: #F6F6F6;
  padding: 142px 0 150px 0; }
  .section-one .title {
    margin-bottom: 38px; }
  .section-one .col-md-2 .card {
    height: 211px;
    margin-top: 14px;
    box-shadow: 0px 2px 2px rgba(198, 198, 198, 0.25);
    border-radius: 10px;
    padding: 0px 40px;
    background-color: red; }
    .section-one .col-md-2 .card .circle {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #F2FDF6;
      margin: 29px auto 25px auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      .section-one .col-md-2 .card .circle img {
        width: 60%; }
    .section-one .col-md-2 .card .commit {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center; }
  .section-one .col-md-4 .card {
    height: 436px;
    margin-top: 14px;
    box-shadow: 0px 2px 2px rgba(198, 198, 198, 0.25);
    border-radius: 10px;
    padding: 30px 33px; }
    .section-one .col-md-4 .card .title {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px; }
    .section-one .col-md-4 .card .nav {
      border-bottom: 1.5px solid rgba(0, 0, 0, 0.1); }
      .section-one .col-md-4 .card .nav .nav-item {
        margin: 0; }
        .section-one .col-md-4 .card .nav .nav-item .nav-link {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: black;
          padding: 0 0 16px 0;
          transition: 0.4s linear;
          display: flex;
          align-items: center;
          border-bottom: 2px solid transparent; }
          .section-one .col-md-4 .card .nav .nav-item .nav-link .icon {
            margin-right: 8px; }
          .section-one .col-md-4 .card .nav .nav-item .nav-link:hover {
            color: #00D74A;
            border-bottom: 2px solid #00D74A; }
            .section-one .col-md-4 .card .nav .nav-item .nav-link:hover .icon {
              background-color: #00D74A; }
        .section-one .col-md-4 .card .nav .nav-item .active {
          color: #00D74A;
          border-bottom: 2px solid #00D74A; }
          .section-one .col-md-4 .card .nav .nav-item .active .icon {
            background-color: #00D74A; }
    .section-one .col-md-4 .card .tab-content .tab-pane {
      margin-top: 50px; }
      .section-one .col-md-4 .card .tab-content .tab-pane input {
        margin-top: 32px;
        border-bottom: 1.5px solid black;
        border-radius: 0;
        border-left: transparent;
        border-right: transparent;
        border-top: transparent;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: black;
        padding-right: 50px;
        box-sizing: border-box; }
        .section-one .col-md-4 .card .tab-content .tab-pane input:focus {
          box-shadow: none; }
        .section-one .col-md-4 .card .tab-content .tab-pane input::placeholder {
          color: black; }
      .section-one .col-md-4 .card .tab-content .tab-pane .uzs {
        position: absolute;
        right: 0;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        top: 10px;
        text-transform: uppercase; }
      .section-one .col-md-4 .card .tab-content .tab-pane .tab-pane-footer {
        margin-top: 50px; }
        .section-one .col-md-4 .card .tab-content .tab-pane .tab-pane-footer .payment {
          width: 158px;
          height: 50px;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          margin-right: 25px; }
        .section-one .col-md-4 .card .tab-content .tab-pane .tab-pane-footer .text {
          font-weight: 500;
          font-size: 13px;
          line-height: 18px; }

/*# sourceMappingURL=main.css.map */
