.community{
  .title{
    font-size: 40px;
    font-weight: 600;
    color: #2d3846;
    line-height: 48px;
    text-align: center;
  }
  .box{
    max-width: 900px;
    margin: 0 auto;
    border-radius: 50%;
    video{
      width:900px!important;
      height:500px!important;
      border-radius: 20px;

    }
  }
}