$textBC: #6B7FA9;
$text: #6B7F99;
.wrapper {
  max-width: 122.1rem;
  margin: 100px auto 30px auto;

  .row {
    .col-md-6 {
      padding: 0 15px;
      margin-bottom: 30px;

      .card {
        height: 100%;
        margin-bottom: 20px;
        border: none;
        border-radius: 10px;

        .card-header {
          background: #ffffff;
          border: none;
          border-radius: 10px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .card-body {
          .title {
            line-height: 4.8rem;
            color: #2d3846;
            text-align: center;
            font-weight: 600;
            font-size: 40px;
            margin-bottom: 15px;
          }

          .text {
            text-align: center;
            color: #6b7f99;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            padding: 0 1.5rem;

            span {
              font-weight: 600;
            }
          }

        }
      }
    }
  }
}

@media (max-width: 450px) {
  .wrapper {
    margin-top: 50px;
    .row {
      .col-md-6 {
        .card {
          .card-body {
            .title {
              line-height: 4rem;
              font-size: 3rem;
            }
            .text {
              font-size: 17px;
              line-height: 25px;

              span {
                font-weight: 600;
              }
            }

          }
        }
      }
    }
  }
}