.technical{
  background: #ffffff;
  .wrapper{
    .title{
      font-size: 64px;
      font-weight: 600;
      color: #2d3846;
      text-align: center;
      padding: 100px 0 80px 0;
      margin:  0 auto;
      line-height: 77px;
      font-family:'Fira Sans', sans-serif;
      max-width: 965px;
    }

    padding-bottom: 80px;
    .row{
      .col-md-6{
        .card{
          .card-header{
            img{
              width: 100%;
            }
            }
          .card-body{
            .titles{
              font-size: 40px;
              font-weight: 600;
              padding: 0;
              text-align: center;
              color: #2d3846;
            }
            .text-first{
              text-align: center;
              color: #6b7f99;
              font-size: 20px;
              line-height: 30px;
              font-weight: 400;
              max-width: 480px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}