*{
    margin: 0;
    padding: 0;
}
.container{
    height: 550px;
    width: 800px;
    margin: 50px auto;
    border: 2px solid black;
    padding: 30px;
    box-sizing: border-box;
    /*hidden,scroll.auto*/
    overflow: scroll;

}

.card{
    background-color: red;
    width: 900px;
    height: 150px;
    margin: 20px ;
    color: black;
    font-size: 25px;
    border: 6px solid black;
    font-weight: 500;


    /*nowrap,pre, bu html da ishlatiladi*/
    white-space:nowrap  ;
    text-overflow: ellipsis;

    padding: 20px;
    box-sizing: border-box;

}


.inline-element{
    width: 400px;
    background-color: blue;
    margin: 50px;
    color: white;
    display: inline;
    font-size: 20px;
    /*display: none;*/
}
.block-element{
    height: 100px;
    width: 200px;
    background-color: rebeccapurple;
    display: inline-block;
    /*display: none;*/
}
.inline-block {
    margin: 50px auto;
    width: 700px;
    /*display: none;*/

}
.flex-element{
    width: 1000px;
    height: 500px;
    margin: 50px auto;
    border: 2px solid black;
    display: flex;
    /*row,row-reverse,colum*/
    flex-direction: column;
    /*nowrap,wrap*/
    flex-wrap: wrap-reverse;
    /**/
    /*flex-start,flex-end,center,space-between,space-around*/
    justify-content: space-evenly;
    /*flex-start: flex-end;*/
    align-items: center;
    /*display: none;*/

}
.box{
    width: 200px;
    height: 200px;
    border: 2px solid red;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*display: none;*/



}
