*{
  margin: 0;
  padding:0;
  box-sizing: border-box;

}
body{
  background: #E5E5E5;

}
$green: #09CC66;
$topRadiusC: #F6F6F6;
$radiusColor:#E7FAF0;
.container{
  max-width: 1253px;
}
header .navbar-brand{
  padding: 0;
  margin: 25px 66px 31px 0;
  width: 40px;
  height: 36px;
  img{
    width: 100%;
  }
}
header .nav-link{
  padding: 0 !important;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #1C1C33;
  position: relative;
  &:hover{
    color: #1C1C33;
  }
  margin-right: 38px;
  &::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: $green;
    position: absolute;
    display: block;
    left: 50%;
    transition: 0.3s linear;
    bottom: -10px;
  }
  &:hover::after{
    width: 50%;
  }
  &::before{
    content: '';
    width: 0;
    height: 3px;
    background-color: $green;
    position: absolute;
    display: block;
    right: 50%;
    transition: 0.3s linear;
    bottom: -10px;
  }
  &:hover::before{
    width: 50%;
  }
}
header .navbar-expand-md{
  padding: 0 !important;


}
header .nav-item:last-child{
  .nav-link{
    margin-right: 0;
  }
}
header .radius ,.radius1{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $topRadiusC;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 28px;
  position: relative;
}
header.radius1{
  margin-right: 0;
}
header label{
  margin: 8px 0;
}
header .modal-body input:focus{

  box-shadow: none;
  outline: none !important;
  border-color: #ced4da;
}
header .book{
  margin-top: 93px;
  max-width: 800px !important;
}
header  .d-flex {
  margin: 15px 0 15px 0;
  input {
    font-weight: normal;
    color: black;
    height: 35px !important;
    border: none;
    &:focus{
      box-shadow: none;
      border-color: transparent;
    }
  }
  .go{
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 25px;
    }
  }
}
header .badge{
  position: absolute;
  top: -1px;
  right: -10px;
}

.p1{
  font-weight: 600;
  font-size: 80px;
  line-height: 85px;
  margin: 117px 0 17px 0;
}
.p2{
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 63px;
}
.button1{
  width: 197px;
  height: 56px;
  background: $green;
  box-shadow: 0 7px 15px rgba(9, 204, 102, 0.33);
  border-radius: 4px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  border: none;
  margin-bottom: 147px;

  &:focus{
    outline: none;
  }
}
.d-flex1{
  .p3{
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 13px 18px 0 72px;
  }
  .img1{
    width: 7px;
    height: 12px;
    margin-top: 25px;
  }


}
.owl-prev span, .owl-next span{
  display: none;
}
.owl-prev ,.owl-next{
  width: 12px;
  height: 21px;
  background-image:url("../img/next.png") !important;
  background-repeat: no-repeat !important;
  position: absolute;
  top: 279px;
  right: -42px;
  background-position: center center !important;
  &:focus{
    outline: none ;
  }
  &:hover{
    background-color:white!important;
  }


}
.owl-next{
transform: rotate(180deg);
  position: absolute;
  left: -562px;
  top: 279px;
}
.text{
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin: 65px  0 30px 0;
}
.run1{
  width: 616px ;
  height: 692px ;
  background: linear-gradient(0deg, rgba(28, 28, 51, 0.2), rgba(28, 28, 51, 0.2)), url(../img/dazmol.png);
  box-shadow: 0 4px 7px rgba(183, 183, 183, 0.42);
  border-radius: 4px;
  .p4{
    font-weight: 500;
    font-size: 44px;
    line-height: 53px;
    color: white;
    margin: 544px 215px 30px 40px;
  }
}
.run2{
  width: 298px;
  height: 336px;
  background: linear-gradient(0deg, rgba(28, 28, 51, 0.32), rgba(28, 28, 51, 0.32)), url(../img/telefon.png);
  border-radius: 4px;
  .p5{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 285px 0 30px 30px;

  }
}
.run3{
  width: 298px;
  height: 336px;
  background: linear-gradient(0deg, rgba(28, 28, 51, 0.2), rgba(28, 28, 51, 0.2)), url(../img/televizor.png);
  border-radius: 4px;
  .p6{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 285px 0 30px 30px;


  }
}
.run4{
  width: 298px;
  height: 336px;
  background: linear-gradient(0deg, rgba(28, 28, 51, 0.2), rgba(28, 28, 51, 0.2)), url(../img/pich.png);
  border-radius: 4px;
  .p7{
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #FFFFFF;
      margin: 285px 0 30px 30px;

}}
.run5{
  width: 298px;
  height: 336px;
  background: linear-gradient(0deg, rgba(28, 28, 51, 0.2), rgba(28, 28, 51, 0.2)), url(../img/xaladinlik.png);
  border-radius: 4px;
  .p8{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 285px 0 30px 30px;

  }
}
.top{
  margin-top: 20px;
}
.led{
  display: flex;
  justify-content: center;
  .button2{
    width: 180px;
    height: 56px;
    background: $green;
    box-shadow: 0 7px 15px rgba(9, 204, 102, 0.33);
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 51px 0 80px 0;
    &:focus{
      outline: none;
      box-shadow: none;
    }
  }
}
.radius2{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $topRadiusC;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 79px 0 24px 0;
  .a1{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 47px;


  }
}
.do{
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 40px 0 12px 0;
}
.man{
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
   color: #868686;
  margin:1px  0 43px 52px;
  border-bottom:  1px dashed #868686;;

}
.number{
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}
.bur{
  width: 122px;
  height: 50px;
  background: #F4F4F4;
  border-radius: 100px;
}
@media (max-width: 576px) {
  .radius, .radius1 {
    display: none !important;
  }
  .nav-link {
    margin: 0 0 7px 0!important;
    text-align: center;

  }
  .navbar-brand{
    margin-left: 26px !important;
  }
  .big{
    margin-right: 17px!important;
  }
}