.user{
  .container{

    .row{
      h1{
        margin: 60px 0 20px 0;
      }
      .col-md-6{
        .card{
          label{
            color: #000000;
          }
          input,select,label{
            font-size: 16px;
          }
          button{
            font-size: 16px;
            margin-top: 15px;
          }
        }
      }
    }
  }
}