$NavbarColor: #1f1e28;
$blue: #2493df;
%Button {
  width: 14.1rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid $blue;
  border-radius: 5px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
}


body {
  font-family: "Fira-sans 400", sans-serif;
}

.desktop, .desktop2 {
  padding: 2.7rem 0 !important;


  .Wrapper {
    padding: 0 2%;
    .navbar-brand {
      font-size: 2.5rem;
      width: 26rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .nav {
      justify-content: space-between;
      align-items: center;

      .nav-item {
        .nav-link {
          font-size: 2rem;
          padding: 0 1rem;
          color: #ffffff;
        }
      }

      .nav-item {
        .login {
          @extend %Button;
          background: transparent;
          margin: 0 2.5rem;
          color: $blue;
        }

        .register {
          @extend %Button;
          width: 15.6rem;
          background: $blue;
          color: #ffffff;

          &:hover {
            background: #2aa7fd;
          }
        }
      }
    }
  }
}

.desktop2 {
  .Wrapper {
    .nav {
      .nav-item {
        .login {
          color: $blue;
          font-family: 'Fira Sans', sans-serif;
          font-weight: 700;
        }

        .nav-link {
          color: #2d3846;
        }
      ;

      }
    }
  }
}

//mobile navbar-start

.mobile-navbar, .tablet {
  display: none !important;
}

//mobile navbar-end

/*media queries*/
@media (max-width: 1200px) {

  html {
    font-size: 50%;
  }
  .desktop {
    display: none !important;
  }
  .mobile-navbar, .tablet {
    display: block !important;
    background-color: $NavbarColor;
    padding: 1.7rem 0 !important;
    position: relative;

    .mobile {
      padding: 0 3%;

      .navbar-brand {
        width: 39px;

        img {
          width: 100%;
        }
      }

      .left {
        display: flex;
        align-items: center;

        span {
          font-size: 2rem;
          color: #ffffff;
          font-family: 'Fira Sans', sans-serif;
        }

        .menu-icon {
          margin-left: 1rem;

          .fas {
            color: #ffffff;
            font-size: 3.2rem;
          }
        }
      }
    }

    .card {
      position: absolute;
      top: 80px;
      right: 0;
      border: .1px solid #2D3846;
      border-radius: 0 0 10px 10px;

      .card-body {
        background: $NavbarColor;
        border-bottom: .1px solid #2D3846;

        .nav {
          flex-direction: column;
          align-items: flex-start;

          .nav-item {
            .nav-link {
              font-size: 2rem;
              margin: .3rem 0;
              color: #ffffff;
            }
          }
        }
      }

      .card-footer {
        display: flex;
        justify-content: center;
        background: $NavbarColor;
        padding: 1.5rem 2rem;
        border-radius: 0 0 8px 8px;

        .login {
          width: 14.1rem;
          height: 4.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1.5px solid $blue;
          border-radius: 5px;
          font-family: 'Fira Sans', sans-serif;
          font-size: 1.6rem;
          font-weight: bold;
          color: $blue;
          background: transparent;
          margin-right: 2.5rem;
        }

        .register {
          width: 14.1rem;
          height: 4.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1.5px solid $blue;
          border-radius: 5px;
          font-family: 'Fira Sans', sans-serif;
          font-size: 1.6rem;
          font-weight: bold;
          background: $blue;
          color: #ffffff;

          &:hover {
            background: #2aa7fd;
          }
        }
      }
    }
  }
  .mobile-navbar {
    display: none !important;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .desktop2{
    display: none!important;
  }
  .tablet {
    background: $NavbarColor;

    .container-fluid {
      .tablet-brand {
        width: 24.6rem;

        img {
          margin: .9rem 0;
        }
      }

    }

    .card {
      top: 10.7rem;
    }
  }
}

@media (max-width: 1024px) {
  .mobile-navbar {
    display: block !important;
  }
  .tablet,.desktop2 {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .navbar {
    .card {
      top: 76px;
      width: 100vw;
    }
  }
}