*{
    margin: 0;
    padding: 0;

}
body{
    background-color: yellow;
}


.bir{
    width: 450px;
    height: 700px;
    border: 4px solid blue;
    margin: 20px 100px ;
    background-color: white;
    overflow: auto;
    /*scroll, hidden, scroll eniga suradi, hidden bo'yiga suradi  */
    border-radius: 0px 50px;
    float: right;
}

.bir img{
    width: 450px;
    height: 300px;
}

.ikki{
    padding: 20px 0;
    text-align: center;
}
.text{
    text-align: justify;
    font-size: 23px;
    font-weight: 500;
    padding: 20px;
    box-sizing: border-box;
    line-height:30px ;
    text-transform:capitalize ;



}



/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
/*body{*/
/*    background-color: cornsilk;*/
/*}*/
/*.uch{*/
/*    width: 450px;*/
/*    height: 700px;*/
/*    border: 5px solid blue;*/
/*    margin: 30px auto;*/
/*    background-color: white;*/


/*}*/
/*.uch img{*/
/*    width: 450px;*/
/*    height: 300px;*/

/*}*/
/*.ikki{*/
/*    text-align: center;*/
/*    padding: 20px 0;*/
/*}*/
/*.text{*/
/*    font-size: 25px;*/
/*    font-weight: 500;*/
/*    text-align: justify;*/
/*    line-height: 30px;*/
/*    padding: 20px;*/
/*    box-sizing: border-box;*/
/*}*/