#til{
    color: gold;
    font-size: 30px;
    font-weight: bold;
}
.til{
    color: blue;
    font-size: 50px;
    font-weight: 100;
}
.br{
    color: yellow;
    font-size: 60px;
    font-weight: bolder;


}

.text{
    font-size: 50px;
    font-weight: bold;
    text-align: justify;
    text-transform: uppercase;
    text-decoration: none;}

.one{
    font-size: 40px;
    font-weight: normal;

 background-image: url("imags/rasm.jfif");
    background-size: 100%;
background-repeat: no-repeat;
  background-position: center 1px;
    background-attachment:fixed;
}