* {
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    height: 500px;
    border: 2px solid black;


    float: left;
}

.container2 {
    width: 300px;
    height: 500px;
    border: 2px solid black;
    /*margin-right: */
    background-color: rgba(0, 0, 0, 0.09);
    float: left;
}

.container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 70px 70px 0 70px;
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.09);

}

.container2 img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 70px 70px 0 70px;
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;

}

.box2 {
    text-align: center;
    font-size: 70px;
    padding: 20px 20px 20px 0px;
}

.box3 {
    text-align: center;
    font-size: 30px;
    padding: 0 20px;

}

.all-container {
    width: 1216px;
    margin: 20px auto;

}