div{
    font-size: 40px;
}
.text1{
    font-family: 'Coda Caption', sans-serif;
}
.text2{
    font-family: 'Lobster', cursive;
}
.text3{
    font-family: 'Dancing Script', cursive;
}


@font-face {
   font-family: 'Montserrat-Thin';
    src: url("Montserrat/Montserrat-Thin.ttf") format('truetype');
}
@font-face {
    font-family: 'Montserrat-LightItalic';
    src: url("Montserrat/Montserrat-LightItalic.ttf") format('truetype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url("Montserrat/Montserrat-Bold.ttf") format('truetype');
}


@font-face {
    font-family:'Roboto-MediumItalic';
    src: url("Roboto/Roboto-MediumItalic.ttf") format('truetype');
}

.text7{
    font-family: 'Roboto-MediumItalic' ,sans-serif;
}
.text4{
    font-family: 'Montserrat-Thin',sans-serif;
}
.text5{
    font-family: 'Montserrat-LightItalic',sans-serif;
}
.text6{
    font-family: 'Montserrat-Bold',sans-serif;
}

.transition-elements{
    width: 1000px;
    height: 620px;
    padding: 20px;
    box-sizing: border-box;
    margin: 50px auto;
    border: 2px solid black;
}
.card1{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 2s linear;
}
.transition-elements:hover .card1{
    margin-left: 860px;
    border-radius: 50%;
}


.card2{
    width: 100px;
    height: 100px;
    background-color: green;
    margin-top: 20px;
    transition: 2s ease;
}
.transition-elements:hover .card2{
    margin-left: 860px;
    opacity: 0;
}

.card3{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-top: 20px;
    transition: 2s ease-in;
}
.transition-elements:hover .card3{
    margin-left: 860px;
}

.card4{
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin-top: 20px;
    transition: 2s ease-out;
}
.transition-elements:hover .card4{
    margin-left: 860px;
}

.card5{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin-top: 20px;
    transition: 2s ease-in-out;
}
.transition-elements:hover .card5{
    margin-left: 860px;
}


.shadow-element{
    width: 1000px;
    height: 300px;
    margin: 50px auto;
    border: 1px solid red;
    transition: 0.5s linear;

    display: flex;
    justify-content: center;
    align-items: center;

}
.shadow-element:hover{
    box-shadow: 10px 10px 15px red, -10px -10px 15px blue;
    text-shadow: 10px 10px 10px red;
}

