*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

background-color: black;


}

.box1{
    width: 800px;
    display: flex;
    margin: 100px auto;
    align-items: center;
}
.box2{
    width: 40%;
    animation-name: aniation;
    animation-duration: 2s;
    z-index: 12;
}
.text{
    width: 60%;
    animation-name: myanimation;
    animation-duration:1s ;
}
.box1 img{
    width: 100%;
}

@keyframes animation {
    0%{
        transform: rotate(0deg) scale(0);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}

@keyframes myanimation {
    0%{
        transform: translate(-360px) scale(0.5) rotate(0);
        opacity: 0;
    }
    80%{
        transform: translate(-360px) rotate(360deg);
    }
    100%{
        transform:  scale();
        opacity: 1;
    }
}







