*{
    margin: 0;
    padding: 0;
}
.container{
    width:1600px;
    height: 600px;
    border:2px solid red ;
}.box{
    height:50px;
    background-color: black;
    position: sticky;
    top: 0;
     color: white;
    display:flex;

 }