

td {
    font-family: Roboto sans-serif;
    text-transform: capitalize;
}

.bt {
    width: 300px;
    height: 100px;
    font-size: 2rem;
    background-color: red;
    color: black;
    outline: none;
    transition: 0.5s linear;
    position: relative;
    z-index: 1;
    border: 2px solid aqua;
}

.bt::before {
    content: ' ';
    transition: 0.5s linear;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%;
    background-color: yellow;
    opacity: 0;
}

.bt:hover::before {
    bottom: 0;
    top: 0;
    opacity: 1;
    z-index: -1;


}


.bt1 {
    width: 200px;
    height: 50px;
    margin: 20px;
    background-color: red;
    position: relative;
    transition: 0.6s linear;
    z-index: 1;
}

.bt1::before {
    content: '';
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%;
    opacity: 0;
    transition: 0.6s linear;
}

.bt1:hover::before {
    bottom: 0;
    top: 0;
    z-index: -1;
    opacity: 1;

}

.box {
    width: 100px;
    height: 30px;
    background-color: red;
    transition: 0.6s linear;
    position: relative;
    box-shadow: inset 20px 0 0 0 yellow;
    z-index: 1;
    font-size: 16px;
    font-family: Roboto sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    border-radius: 2px;
}
.box:hover{
color: black;
    box-shadow:inset 200px 0 0 0 yellow;
}


