$bgColor: #F6F6F6;
$textColor: #ACACAC;
$mainColor: #00D74A;
$headerColor: #475463;
$boxColor: #F2FDF6;

.w-80 {
  width: 80%;
}

%allButton {
  width: 233px;
  height: 72px;
  background: $mainColor;
  border-radius: 10px;
  transition: 0.5s linear;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: block;
  border: none;

  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: none;
    color: white;
  }
}

%allTitle {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

.icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: red;
  transition: 0.4s linear;

  mask: {
    position: center center;
    repeat: no-repeat;
    size: 100%;
  };
  -webkit-mask: {
    position: center center;
    repeat: no-repeat;
    size: 100%;
  };
}

.icon-map {
  mask-image: url("../images/map.svg");
  -webkit-mask-image: url("../images/map.svg");
}

.icon-payment {
  mask-image: url("../images/payment.svg");
  -webkit-mask-image: url("../images/payment.svg");
}

.icon-language {
  mask-image: url("../images/lang.svg");
  -webkit-mask-image: url("../images/lang.svg");
}

.icon-faq {
  mask-image: url("../images/faq.svg");
  -webkit-mask-image: url("../images/faq.svg");
}

.icon-mobile {
  mask-image: url("../images/mobile.svg");
  -webkit-mask-image: url("../images/mobile.svg");
  background-color: black;
  width: 12px;
  height: 17px;
}

.icon-tv {
  mask-image: url("../images/tv.svg");
  -webkit-mask-image: url("../images/tv.svg");
  background-color: black;
  width: 16px;
  height: 16px;
}

.icon-internet {
  mask-image: url("../images/internet.svg");
  -webkit-mask-image: url("../images/internet.svg");
  background-color: black;
  width: 18px;
  height: 15px;
}


.top-menu {
  background-color: $bgColor;

  .left-side, .right-side {
    .nav {
      .nav-item {
        .nav-link {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: $textColor;
          margin: 0 16px;
          padding: 22px 0;
          transition: 0.4s linear;
          border-bottom: 2px solid transparent;

          &:hover {
            color: $mainColor;
            border-bottom: 2px solid $mainColor;
          }
        }
      }

      .nav-item:nth-child(1) {
        .nav-link {
          margin-left: 0;
        }
      }

      .nav-item:last-child {
        .nav-link {
          margin-right: 0;
        }
      }
    }
  }

  .right-side {
    .nav {
      .nav-item {
        display: flex;
        align-items: center;
        margin: 0 16px;

        &:hover {
          .icon {
            background-color: black;
          }

          .nav-link {
            color: black;
            border-bottom: 2px solid transparent;
          }
        }

        .icon {
          margin-right: 10px;

        }

        .nav-link {
          font-weight: normal;
          margin: 0;
        }
      }

      .nav-item:last-child {
        margin-right: 0;
      }
    }
  }
}

.navbar {

  .nav {
    .nav-item {
      margin-right: 40px;

      &:hover {
        .nav-link {
          color: $mainColor;
        }
      }

      .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: black;
        transition: 0.4s linear;
      }
    }

    .nav-item:last-child {
      margin-right: 0;
      cursor: pointer;
    }
  }
}

header {
  position: relative;
  background-color: $headerColor;

  .title {
    font-weight: bold;
    font-size: 52px;
    line-height: 62px;
    color: white;
    padding-top: 88px;
    margin-bottom: 42px;
  }

  .trafic {
    div:nth-child(1) {
      font-weight: 800;
      font-size: 32px;
      line-height: 38px;
      color: $mainColor;
    }

    div:last-child {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: white;
    }

  }

  .connect-btn {
    @extend %allButton;
    margin-top: 72px;
    margin-bottom: 33px;
  }

  .col-md-5 {
    .operator {
      padding-top: 53px;
      z-index: 2;
      position: relative;
    }

  }

  .bg-img {
    position: absolute;
    top: 0;
    right: 7%;

  }

  .owl-dots {
    position: absolute;
    right: -74%;
    top: 45%;

    .owl-dot {
      display: block !important;
      margin-top: 10px;

      &:focus {
        outline: none;
      }

      span {
        background: rgba(255, 255, 255, 0.5);
        transform: rotate(90deg);
        width: 20px !important;
      }
    }

    .active {
      span {
        background-color: $mainColor !important;
      }
    }
  }
}

.section-one {
  background-color: $bgColor;
  padding: 142px 0 150px 0;

  .title {
    @extend %allTitle;
    margin-bottom: 38px;
  }

  .col-md-2 {
    padding: 0 8px !important;

    .card {
      height: 211px;
      margin-top: 14px;
      box-shadow: 0px 2px 2px rgba(198, 198, 198, 0.25);
      border-radius: 10px;
      padding: 0px 40px;
      background-color: red;

      .circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: $boxColor;
        margin: 29px auto 25px auto;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 60%;
        }
      }

      .commit {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
    }

    .boxes {
      display: flex;
      flex-direction: column;

    }
  }

  .col-md-4 {
    .card {
      height: 436px;
      margin-top: 14px;
      box-shadow: 0px 2px 2px rgba(198, 198, 198, 0.25);
      border-radius: 10px;
      padding: 30px 33px;

      .title {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;

      }

      .nav {
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);

        .nav-item {
          margin: 0;

          .nav-link {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: black;
            padding: 0 0 16px 0;
            transition: 0.4s linear;
            display: flex;
            align-items: center;
            border-bottom: 2px solid transparent;

            .icon {
              margin-right: 8px;
            }

            &:hover {
              color: $mainColor;
              border-bottom: 2px solid $mainColor;

              .icon {
                background-color: $mainColor;
              }
            }
          }

          .active {
            color: $mainColor;
            border-bottom: 2px solid $mainColor;

            .icon {
              background-color: $mainColor;
            }
          }
        }
      }

      .tab-content {
        .tab-pane {
          margin-top: 50px;

          input {
            margin-top: 32px;
            border-bottom: 1.5px solid black;
            border-radius: 0;
            border-left: transparent;
            border-right: transparent;
            border-top: transparent;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: black;
            padding-right: 50px;
            box-sizing: border-box;

            &:focus {
              box-shadow: none;
            }

            &::placeholder {
              color: black;
            }
          }

          .uzs {
            position: absolute;
            right: 0;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            top: 10px;
            text-transform: uppercase;
          }

          .tab-pane-footer {
            margin-top: 50px;

            .payment {
              @extend %allButton;
              width: 158px;
              height: 50px;
              font-weight: 500;
              font-size: 18px;
              line-height: 21px;
              margin-right: 25px;
            }

            .text {
              font-weight: 500;
              font-size: 13px;
              line-height: 18px;
            }
          }
        }
      }

    }
  }
}

footer {
  padding-top: 50px;
  background-color: white;

  .footer-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  .connect-section {
    .for-text {
      margin-left: 11px;

      .phone-number {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
      }

      .text {
        font-weight: normal;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.3);
        margin-top: 6px;
      }
    }
  }

  .footer-menu {
    .footer-title {
      padding-bottom: 10px;

    }

    .nav-item {
      margin-top: 30px;

      .nav-link {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        padding: 0;
        color: black;
        transition: 0.4s linear;

        &:hover {
          color: $mainColor;
        }
      }
    }


  }

  .social-footer {
    margin-top: 90px;
    margin-bottom: 40px;

    .text {
      font-size: 14px;
      line-height: 17px;
      color: rgba(0, 0, 0, 0.3);
    }

    .social-media {
      img {
        margin-right: 24px;
      }

      img:last-child {
        margin-right: 0;
      }
    }
  }

  .app {
    padding-top: 64px;

    .app-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.8px;
      margin-bottom: 19px;
    }

    .app-store {
      margin-left: 16px;
    }
  }
}

.mobile-search,.mobile-element {
  display: none;
}



@media (max-width: 576px) {
  .mobile-search {
    display: block;
    position: absolute;
    top: 20px;
    right: 20%;
  }

  .top-menu {
    display: none;
  }

  .navbar {
    .desktop-search {
      display: none;
    }

    .navbar-toggler {
      &:focus {
        outline: none;
      }
    }

    .nav {
      margin-top: 20px;

      .nav-item {
        margin-right: 0;
        text-align: center;
      }
    }
  }

  header {

    .title {
      text-align: center;
      font-size: 36px;
      line-height: 50px;
      padding-top: 56px;
      margin-bottom: 69px;
    }

    .connect-btn {
      margin: 0 auto 50px auto;
    }

    .col-md-5, .bg-img, .trafic {
      display: none;
    }

    .owl-dots {
      position: relative;
      right: 0;
      bottom: 16px;
      /*  display: flex;
        align-items: center;
        justify-content: center;*/

      .owl-dot {
        margin-left: 20px;
        display: inline-block !important;

        span {
          width: 8px !important;
          height: 40px !important;

        }
      }

      /*    .active{
            span{
              height: 40px !important;

            }
          }*/
    }
  }

  .section-one {
    .col-md-4 {
      padding: 0 15px !important;;
    }

    .col-md-2 {
      padding: 0 15px !important;

      .boxes {
        display: flex;
        flex-direction: row;
        .card{
          width: 50%;
        }

        .card:nth-child(1) {
          margin-right: 8px;
        }

        .card:nth-child(2) {
          margin-left: 8px;
        }

      }
    }


  }

  footer {
    padding-top: 45px;

    .desktop-footer {
      display: none;
    }

    .app {
      padding-top: 0;
    }

    .social-footer {
      margin-top: 58px;
      margin-bottom: 10px;
      flex-direction: column-reverse;
      .social-media{
        margin-bottom: 26px;
      }
    }

    .mobile-phone{
      margin-top: 50px;
      display: flex;
      align-items: center;
      margin-bottom: 13px;
    .for-text{
      margin-left: 10px;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
    }
  }

    .collapse-element{
      margin-top: 32px;
      .nav-link{
        color: black;
      }
      .card{
        background-color: rgba(0,0,0,0.1);
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        padding:12px 10px;
      }
    }

    .mobile-element{
      display: block;
    }
  }


}



