.Carousels {
  margin: 0 auto;
  width: 1221px;
  height: 318px;
  background: #ffffff;
  border-radius: 10px;
  transform: translateY(-35%);
  display: flex;
  align-items: center;

  .box {
    width: 980px;
    margin:  auto;
    .slick-slider {
      padding: 20px ;
      .slick-next:before, .slick-prev:before {
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: blue;
      }
      .images {
        width: 224px;
        height: 222px;
        margin: 15px;
        display: flex;
        align-items: center;
        background: #EAF0F3;
         .radius{
           width: 104px;
           height: 104px;
           border-radius: 50%;
           img{
             width: 100%;
             border-radius: 50%;
             margin: 0 auto;
           }
         }
      }
    }
  }
}