*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.book .container{
    background-color: #b21f2d;
    margin-top: 100px;
    width: 100%;
    height: 100%;
}
.two{background-color: #dc3545 ;

}





