.login{
    .container{
        .row{
            h1{
                text-align: center;
                text-transform: uppercase;
                color: #2aa7fd;
                margin-top: 100px;
            }
            .col-md-6{
                .card{
                   .card-body{
                       input,label,a{
                           font-size: 16px;
                       }
                   }
                }
            }
        }
    }
}