*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 600px;
    height: 500px;
    margin:40px auto ;

}
.box{
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color:rgba(0,0,0,0.3) ;
    border-radius: 50%;
    margin: 50px auto 0 auto;
}
.border{
    width: 100px;
    height: 100px;

    padding: 20px;
    border-radius: 50%;
    background-color: blue;
}
img{
    width: 100%;

}

.text-body{
    display: flex;
    margin: 20px 0 0 120px;
}
.text{
    color: blue;
    font-weight: 600;
}
.text2{
    width: 80px;
    height: 2px;
    background-color: black;
    margin-top: 8px;

}
.text3{
    width: 80px;
    height: 2px;
    background-color: black;
    margin-top: 8px;
}

.input{
margin: 15px 0 0 120px;
    line-height: 30px;
}
.input input{
    height: 25px;
    border-radius: 10px;
    padding-left: 10px;
}
.input input:focus{
 outline: 0;
}
.text-body2{
margin-left: 120px;
    line-height: 30px;
}
.text-body2 input{
    width: 371px;
    height:25px ;
    border-radius: 10px;
    padding-left: 10px;
}
.text-body2 input:focus{
    outline: 0;
}
.class{
    margin: 20px  0 0 140px;

}
label{
    color: blue;
    margin-left: 5px;
}

.link{
    width: 160px;
    height: 30px;
    color: white;
    text-align: center;
    padding-top: 5px;
    border-radius: 30px;
    margin: 20px auto;
    background-color: black;
    transition: 0.5s linear;
}
.link:hover{
    background-color: blue;
}