* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none!important;
  list-style: none;
}

html{
  font-size: 62.5%;
}
$BodyColor: #f2f5f7;
body {
  background: $BodyColor;
  font-family: 'Fira Sans',sans-serif;
}
.navbar{
  position: sticky;
  top: 0;
  z-index: 10000;
}
input{
  height: 30px;
}
@media (max-width:450px) {

  html {
    font-size: 50% !important;
  }
}