
<div class="col-xl-6 col-sm-12  book ">
    <div class="box  border ">
        <div class="row ">
            <div class="  col-xl-5 col-sm-5  book ">
                <img class="my-img" src="images/Bitmap%20(3).png" alt="error">
            </div>
            <div class="col-xl-7 col-sm-7  book col-body ">
                <div class="box2 d-flex">
                    <h4 class="box15">Hot achchiko</h4>
                    <img class="my-img4" src="images/🍀3.png" alt="error">
                </div>
                <p class="box4">
                    Горячая закуска с митболами <br>
                    из говядины, томатами, <br>
                    моцареллой и соусом чипотле
                </p>
                <div class="box5 d-flex">
                    <h4 class="box6">64,000 UZS</h4>
                    <div class="box7"><img src="images/Path.png" alt="error"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-6 mb-3 col-sm-12  book ">
    <div class="box border ">
        <div class="row ">
            <div class="  col-xl-5 col-sm-5  book ">
                <img class="my-img" src="images/Bitmap (4).png" alt="error">
            </div>
            <div class="col-xl-7 col-sm-7  book col-body ">
                <div class="box2 d-flex">
                    <h4 class="box3">Mexica</h4>
                </div>
                <p class="box4">
                    Горячая закуска с митболами <br>
                    из говядины, томатами, <br>
                    моцареллой и соусом чипотле
                </p>
                <div class="box5 d-flex">
                    <h4 class="box6">45,000 UZS</h4>
                    <div class="box7"><img src="images/Path.png" alt="error"></div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="col-xl-6 col-sm-12  book ">
    <div class="box border  ">
        <div class="row ">
            <div class="  col-xl-5 col-sm-5  book ">
                <img class="my-img" src="images/Bitmap%20(3).png" alt="error">
            </div>
            <div class="col-xl-7 col-sm-7  book col-body ">
                <div class="box2 d-flex">
                    <h4 class="box15">Apocalipo</h4>
                    <img class="my-img4" src="images/qalampr.png" alt="error">
                </div>
                <p class="box4">
                    Горячая закуска с митболами <br>
                    из говядины, томатами, <br>
                    моцареллой и соусом чипотле
                </p>
                <div class="box5 d-flex">
                    <h4 class="box6">64,000 UZS</h4>
                    <div class="box7"><img src="images/Path.png" alt="error"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-6 mb-3 col-sm-12  book ">
    <div class="box border ">
        <div class="row ">
            <div class="  col-xl-5 col-sm-5  book ">
                <img class="my-img" src="images/Bitmap (4).png" alt="error">
            </div>
            <div class="col-xl-7 col-sm-7  book col-body ">
                <div class="box2 d-flex">
                    <h4 class="box3">Sosiskacho</h4>
                    <img class="my-img4" src="images/🍀3.png" alt="error">

                </div>
                <p class="box4">
                    Горячая закуска с митболами <br>
                    из говядины, томатами, <br>
                    моцареллой и соусом чипотле
                </p>
                <div class="box5 d-flex">
                    <h4 class="box6">45,000 UZS</h4>
                    <div class="box7"><img src="images/Path.png" alt="error"></div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="col-xl-6 mb-3 col-sm-12  book " >
    <div class="box border ">
        <div class="row ">
            <div class="  col-xl-5 col-sm-5   ">

                <img class="my-img" src="images/Bitmap1.png" alt="error">
            </div>
            <div class="col-xl-7 col-sm-7   col-body ">
                <div class="box2 d-flex">
                    <h4 class="box3">Mexica</h4>
                </div>
                <p class="box4">
                    Горячая закуска с митболами <br>
                    из говядины, томатами, <br>
                    моцареллой и соусом чипотле
                </p>
                <div class="box5 d-flex">
                    <h4 class="box6">53,000 UZS</h4>
                    <div class="box7"><img src="images/Path.png" alt="error"></div>
                </div>
            </div>
        </div>

    </div>

</div>






<div class="container">
    <div class="s ">Pitsa</div>
    <div class="row my-row">
        <div class="col-xl-6 col-sm-12  book ">
            <div class="box  border ">
                <div class="row ">
                    <div class="  col-xl-5 col-sm-5  ">
                        <div class="my-img3 "><img src="images/🔥%20copy.png" alt=""></div>
                        <img class="my-img" src="images/Bitmap%20(2).png" alt="error">
                    </div>
                    <div class="col-xl-7 col-sm-7  col-body ">
                        <div class="box2 d-flex">
                            <h4 class="box3">Gavaya</h4>
                            <img class="my-img2" src="images/pshloq.png" alt="error">
                        </div>
                        <p class="box4">
                            Горячая закуска с митболами <br>
                            из говядины, томатами, <br>
                            моцареллой и соусом чипотле
                        </p>
                        <div class="box5 d-flex">
                            <h4 class="box6">45,000 UZS</h4>
                            <div class="box7"><img src="images/Path.png" alt="error"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 mb-3 col-sm-12  book ">
            <div class="box border ">
                <div class="row ">
                    <div class="  col-xl-5 col-sm-5   ">
                        <div class="my-img3 "><img src="images/🔥%20copy.png" alt=""></div>

                        <img class="my-img" src="images/Bitmap1.png" alt="error">
                    </div>
                    <div class="col-xl-7 col-sm-7   col-body ">
                        <div class="box2 d-flex">
                            <h4 class="box3">Mexica</h4>
                            <img class="my-img2" src="images/qalampr.png" alt="error">
                        </div>
                        <p class="box4">
                            Горячая закуска с митболами <br>
                            из говядины, томатами, <br>
                            моцареллой и соусом чипотле
                        </p>
                        <div class="box5 d-flex">
                            <h4 class="box6">53,000 UZS</h4>
                            <div class="box7"><img src="images/Path.png" alt="error"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>



</div>


<div class="s">Burger</div>

<div class="row">
    <div class="col-xl-6 col-sm-12  book ">
        <div class="box  border ">
            <div class="row ">
                <div class="  col-xl-5 col-sm-5  ">
                    <div class="my-img6 "><img src="images/🔥%20copy.png" alt=""></div>
                    <img class="my-img" src="images/Bitmap%20(6).png" alt="error">
                </div>
                <div class="col-xl-7 col-sm-7  col-body ">
                    <div class="box2 d-flex">
                        <h4 class="box3">Cheeseburger</h4>
                        <img class="my-img2" src="images/pshloq.png" alt="error">
                    </div>
                    <p class="box4">
                        Горячая закуска с митболами <br>
                        из говядины, томатами, <br>
                        моцареллой и соусом чипотле
                    </p>
                    <div class="box5 d-flex">
                        <h4 class="box6">23,000 UZS</h4>
                        <div class="box7"><img src="images/Path.png" alt="error"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 mb-3 col-sm-12  book ">
        <div class="box border ">
            <div class="row ">
                <div class="  col-xl-5 col-sm-5   ">

                    <img class="my-img" src="images/Bitmap%20(6).png" alt="error">
                </div>
                <div class="col-xl-7 col-sm-7   col-body ">
                    <div class="box2 d-flex">
                        <h4 class="box3">Chili burger</h4>
                        <img class="my-img2" src="images/qalampr.png" alt="error">
                    </div>
                    <p class="box4">
                        Горячая закуска с митболами <br>
                        из говядины, томатами, <br>
                        моцареллой и соусом чипотле
                    </p>
                    <div class="box5 d-flex">
                        <h4 class="box6">23,000 UZS</h4>
                        <div class="box7"><img src="images/Path.png" alt="error"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-xl-6 col-sm-12  book ">
        <div class="box  border ">
            <div class="row ">
                <div class="  col-xl-5 col-sm-5  ">
                    <div class="my-img6 "><img src="images/🔥%20copy.png" alt=""></div>
                    <img class="my-img" src="images/Bitmap%20(6).png" alt="error">
                </div>
                <div class="col-xl-7 col-sm-7  col-body ">
                    <div class="box2 d-flex">
                        <h4 class="box3">Hamburger</h4>
                    </div>
                    <p class="box4">
                        Горячая закуска с митболами <br>
                        из говядины, томатами, <br>
                        моцареллой и соусом чипотле
                    </p>
                    <div class="box5 d-flex">
                        <h4 class="box6">23,000 UZS</h4>
                        <div class="box7"><img src="images/Path.png" alt="error"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 mb-3 col-sm-12  book ">
        <div class="box border ">
            <div class="row ">
                <div class="  col-xl-5 col-sm-5   ">

                    <img class="my-img" src="images/Bitmap%20(6).png" alt="error">
                </div>
                <div class="col-xl-7 col-sm-7   col-body ">
                    <div class="box2 d-flex">
                        <h4 class="box3">Double Burger</h4>
                    </div>
                    <p class="box4">
                        Горячая закуска с митболами <br>
                        из говядины, томатами, <br>
                        моцареллой и соусом чипотле
                    </p>
                    <div class="box5 d-flex">
                        <h4 class="box6">23,000 UZS</h4>
                        <div class="box7"><img src="images/Path.png" alt="error"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="s">Kombo</div>

<div class="row">
    <div class="col-xl-6 col-sm-12  book ">
        <div class="box  border ">
            <div class="row ">
                <div class="  col-xl-5 col-sm-5  ">
                    <img class="my-img" src="images/max%20kvadrat%20menu%20-%20печать%202@2x.png" alt="error">
                </div>
                <div class="col-xl-7 col-sm-7  col-body ">
                    <div class="box2 d-flex">
                        <h4 class="box3">Kombo-1</h4>
                    </div>
                    <p class="box4">
                        Горячая закуска с митболами <br>
                        из говядины, томатами, <br>
                        моцареллой и соусом чипотле
                    </p>
                    <div class="box5 d-flex">
                        <h4 class="box6">23,000 UZS</h4>
                        <div class="box7"><img src="images/Path.png" alt="error"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 mb-3 col-sm-12  book ">
        <div class="box border ">
            <div class="row ">
                <div class="  col-xl-5 col-sm-5   ">

                    <img class="my-img" src="images/a7.png" alt="error">
                </div>
                <div class="col-xl-7 col-sm-7   col-body ">
                    <div class="box2 d-flex">
                        <h4 class="box3">Kombo-2</h4>
                    </div>
                    <p class="box4">
                        Горячая закуска с митболами <br>
                        из говядины, томатами, <br>
                        моцареллой и соусом чипотле
                    </p>
                    <div class="box5 d-flex">
                        <h4 class="box6">25,000 UZS</h4>
                        <div class="box7"><img src="images/Path.png" alt="error"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-xl-6 col-sm-12  book ">
        <div class="box  border ">
            <div class="row ">
                <div class="  col-xl-5 col-sm-5  ">
                    <img class="my-img" src="images/max%20kvadrat%20menu%20-%20печать%202@2x.png" alt="error">
                </div>
                <div class="col-xl-7 col-sm-7  col-body ">
                    <div class="box2 d-flex">
                        <h4 class="box3">Kombo-3</h4>
                    </div>
                    <p class="box4">
                        Горячая закуска с митболами <br>
                        из говядины, томатами, <br>
                        моцареллой и соусом чипотле
                    </p>
                    <div class="box5 d-flex">
                        <h4 class="box6">30,000 UZS</h4>
                        <div class="box7"><img src="images/Path.png" alt="error"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="s">Ichimliklar</div>

<div class="row">
    <div class="col-xl-6 col-sm-12  book ">
        <div class="box  border ">
            <div class="row ">
                <div class="  col-xl-5 col-sm-5  ">
                    <img class="my-img" src="images/Bitmap (8).png" alt="error">
                </div>
                <div class="col-xl-7 col-sm-7  col-body ">
                    <div class="box2 d-flex">
                        <h4 class="box3">Sprite 1L</h4>
                    </div>
                    <p class="box4">
                        Горячая закуска с митболами <br>
                        из говядины, томатами, <br>
                        моцареллой и соусом чипотле
                    </p>
                    <div class="box5 d-flex">
                        <h4 class="box6">6,000 UZS</h4>
                        <div class="box7"><img src="images/Path.png" alt="error"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 mb-3 col-sm-12  book ">
        <div class="box border ">
            <div class="row ">
                <div class="  col-xl-5 col-sm-5   ">

                    <img class="my-img" src="images/Bitmap (9).png" alt="error">
                </div>
                <div class="col-xl-7 col-sm-7   col-body ">
                    <div class="box2 d-flex">
                        <h4 class="box3">Coca cola 1,5L</h4>
                    </div>
                    <p class="box4">
                        Горячая закуска с митболами <br>
                        из говядины, томатами, <br>
                        моцареллой и соусом чипотле
                    </p>
                    <div class="box5 d-flex">
                        <h4 class="box6">9,000 UZS</h4>
                        <div class="box7"><img src="images/Path.png" alt="error"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-xl-6 col-sm-12  book ">
        <div class="box  border ">
            <div class="row ">
                <div class="  col-xl-5 col-sm-5  ">
                    <img class="my-img" src="images/Bitmap (10).png" alt="error">
                </div>
                <div class="col-xl-7 col-sm-7  col-body ">
                    <div class="box2 d-flex">
                        <h4 class="box3">Fanta 1L</h4>
                    </div>
                    <p class="box4">
                        Горячая закуска с митболами <br>
                        из говядины, томатами, <br>
                        моцареллой и соусом чипотле
                    </p>
                    <div class="box5 d-flex">
                        <h4 class="box6">6,000 UZS</h4>
                        <div class="box7"><img src="images/Path.png" alt="error"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>