*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.burger{
    width: 16px;
}
.mobile-search{
    display: none;
}
.nav-item{
    margin-left: 40px;
}


.nav-item .nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: black;
}
.navbar-toggler:focus{
    outline: none;
}

@media(max-width:576px) {
    .desktop-search {
        display: none;
    }

    .mobile-search {
        display: block;
        position: absolute;
        top: 20px;
        right: 20%;
    }


}

@media (min-width: 576px) and (max-width: 768px){
       .nav-item{
           margin-left: 0;
       }
        .mobile-search{
        display: block;
        position: absolute;
        top: 20px;
        right: 15%;
    }

}

























