*{
    margin: 0;
    padding: 0;

}
.title{
    height: 60px;
    background-color: white;
    color: black;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 6;
}
.title-body1{
    width: 30%;
    height: 95%;

 }
.title-body1 img{
    height: 100%;
    margin-left: 50%;
}
.title-body2{
    width: 70%;
    height: 95%;
    display: flex;
}
.title-body2 ul{
    margin-left: 35%;
    padding:16px 0;
    box-sizing: border-box;
    font-size: 18px;
}
.title-body2 ul li{
    margin-right: 70px;
    display: flex;
    float: left;
}

.container{
    height: 600px;
    border: 4px solid black;
    position: relative;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);

}
.text1{
    text-align: center;
    margin-top: 150px;
    font-size: 70px;
    color: black;
}
.text1 img{
    width: 60px;
}
.text2{
    color: black;
    font-size: 18px;
    text-align:center;
    white-space: pre-line;
}
.container .link{
    margin-left:45%;
}
.link{
    color: black;
    width: 150px;
    height: 40px;
    border: 2px solid red;
    font-size: 20px;
    padding: 8px 25px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.4);
    transition: 0.5s linear;
}
.link:hover{
    background-color: red;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.5);
}

.box-body{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    background-color: white;
    position: relative;
    /*overflow: hidden;*/
}
.box-body img{
    width: 100px;
    margin: 50px 100px;

}
.box-body h1{
    text-align: center;
}
.box-body p{
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    line-height: 25px;
}
.box{
    width: 940px;
    height: 400px;
    display: flex;
    position: absolute;
    top: 530px;
    margin-left:350px;
    justify-content: space-between;
    bottom: 50px;

}
.box .box-body3:nth-child(3){
    margin-right: 0;
}
.box-body2{
    width: 300px;
    height: 400px;
    border: 0.5px solid black;
    position: relative;
    background-color: white;
    overflow: hidden;
}
.box-body2 img{
    width: 100px;
    margin: 50px 100px 40px 100px;

}
.box-body2 h1{
    text-align: center;
}
.box-body2 p{
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    line-height: 25px;
}
.box-body3{
    width: 300px;
    height: 400px;
    border: 0.5px solid black;
    margin-right: 20px;
    background-color: white;
    position: relative;
    overflow: hidden;
    line-height: 30px;
}
.box-body3 img{
    width: 100px;
    height: 110px;
    margin: 50px 100px 30px 100px;
}
.box-body3 h1{
    text-align: center;
}
.box-body3 p{
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    line-height: 25px;
}

.box-body4{
    width: 300px;
    height:400px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: -400px;
    transition: 0.5s linear;
    color: white;
    text-align:center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 600;
    padding-top: 50px;
}

.box-body:hover .box-body4{
    top: 0;
}
.box-body5{
    width: 100%;
    height: 400px;
    color: white;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: -400px;
    transition: 0.6s linear;
    font-size: 20px;
    font-weight: bold;

    text-align: center;
    padding: 100px 20px;
    box-sizing: border-box;

}
.box-body2:hover .box-body5{
    top:0;
}
.box-body6{
    width: 100%;
    height: 400px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: -400px;
    transition: 0.6s linear;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 100px;


}
.box-body3:hover .box-body6{
    top: 0;
}