
body {
    margin: 0;
}

.absolute-element {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 100px;
    z-index: 2;
}

.absolute-element2 {
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.relative-element {
    width: 1000px;
    height: 500px;
    border: 2px solid black;
    margin: 20px auto;
    position: relative;
}

.fixed-element{
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: fixed;
    border-radius: 50%;
    right: 150px;
    bottom: 50px;
    z-index: 4;

}
.sticky-element{
    height: 100px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 5;
}

.effect{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}
.overlay{
    width: 200px;
    height: 200px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: -200px;
    transition: 0.5s linear;
}
.effect:hover .overlay{
    bottom: 0;
}