$headerC:#1F1E28;
$blue: #2493df;
%Button {
  width: 14.1rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid $blue;
  border-radius: 5px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
}
header{
  background: $headerC;
  height: 105vh;
  .container-fluid{
    padding:  0 2%;
    .row1{
      display: flex!important;
      .left{
        padding-top: 13rem;
        width: 18%;
        img{
          width: 75%;
        }
      }
      .centre{
        padding-top: 12rem;
        width: 64%;
        .title{ max-width: 890px;
          font-size: 8rem;
          line-height: 8rem;
          color: #ffffff;
          font-style: normal;
          font-family: 'Fira Sans', sans-serif;
          font-weight: 700;
          text-align: center;
          margin: 0 auto;
        }
        .text{
          font-size: 2.6rem;
          font-weight: 400;
          font-family: 'Fira Sans', sans-serif;
          color: #c8d2db;
          line-height: 3.9rem;
          padding: 0 12rem;
          text-align: center;
          margin: 2.5rem 0;
          span{
            font-weight: 500;
            color: #ffffff;
            font-family: 'Fira Sans', sans-serif;


          }
        }
        .header-btn{
          font-family: 'Fira Sans', sans-serif;
          font-weight: 700;
          font-size: 1.6rem;
          color: #f9f9fa;
          background: $blue;
          width: 25.8rem;
         @extend %Button;
          margin: 0 auto;
          &:hover{
            background: #2aa7fd;
          }
        }
      }
      .right{
        width: 18%;
        padding-top: 11rem;
        img{
          width: 90%;
        }
      }
    }
  }
}


//medea queries
@media (max-width:991px){
  header{
    .container-fluid{
      .row1{
        .left{
          padding-top: 7rem;
        }
        .centre{
          padding-top:5rem;
          .title{
            font-size: 6rem;
            line-height: 6rem;
          }
          .text{
            padding: 0;
          }

        }
        .right{
          padding-top: 5rem;
        }
      }
    }
  }

}
@media (max-width:768px){
  html{
    font-size: 50%;
  }
  header{
    .container-fluid{
      .row1{
        .left{
          padding-top: 7rem;
        }
        .centre{
          padding-top:5rem;
          .title{
            font-size: 5rem;
            line-height: 5rem;
          }
          .text{
            padding: 0;
          }
          .header-btn{
            width: 20rem;
          }

        }
        .right{
          padding-top: 5rem;
        }
      }
    }
  }
}
@media (max-width:450px)  {
  header{
    .container-fluid{
      .row1{
        .left{
          padding-top: 7rem;
        }
        .centre{
          padding-top:5rem;
          .title{
            font-size: 5rem;
            line-height: 5rem;
          }
           .text{
             font-size: 2rem;
             line-height: 3rem;
           }
        }
        .right{
          padding-top: 5rem;
        }
      }
    }
  }
}
