.title{
    font-size: 50px ;
    font-weight: 900;

}
@media(max-width:576px) {
    .title{
        font-size: 20px ;
        font-weight: 200;
        color: red;
    }

}
@media(min-width:576px)and (max-width: 768px) {
    .title{
        font-size: 25px ;
        font-weight: 400;
        color: blue;
    }

}
@media(min-width:768px)and (max-width: 992px) {
    .title{
        font-size: 30px ;
        font-weight: 600;
        font-weight: bold;
        color: greenyellow;
    }

}
@media(min-width:992px)and (max-width: 1200px) {
    .title{
        font-size: 40px ;
        font-weight: 800;
        color: red;
        font-weight: bold;
    }

}
@media(min-width:1200px) {
    .title{
        font-size: 40px ;
        font-weight: 800;
        color: yellow;
        font-weight: bold;
    }

}
