*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100%;
    /*border: 1px solid red;*/
}
.title{
    background-color: orangered;

    color: white;
    font-size: 35px;
    font-weight: bold;
    padding:  20px 100px;
    position: sticky;
    top: 0;
    z-index: 2;

}

.menu{
    background-color: black;
    color: white;
    padding-left: 100px;
    position: sticky;
    top: 80px;
    z-index: 1;

}


ul  {
    display: inline-block;

}
li{
    list-style: none;
    margin: 10px 30px 10px 0;
    position: relative;
}
li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: red;
    display: block;
    transition: 0.5s linear;
    position: absolute;
    left: 50%;
}
li:hover::after{
    width: 50%;
}
li::before{
content: '';

    width: 0;
    height: 2px;
    background-color: red;
    display: block;
    position: absolute;
    transition: 0.5s linear;
    right: 50%;
    bottom: -2px;

}
li:hover::before{
    width: 50%;
}
a{
    text-decoration: none;
    font-size: 20px ;
    color: white;


}

.imags{
    height:250px;
  background-image: url("imags/img1.jpg");
}


.text{
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top:40px ;
    line-height: 40px;
}


.box{
    height: 200px;
    display: flex;
}
.box1{
    width: 75%;
    padding:10px 0 10px 100px ;
    line-height: 30px;
}

.box2{
    width: 25%;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 30px 100px;
}

h1{
    padding-bottom: 20px;
}
p{
    line-height: 110px;
}

.animation{
    display: block;
    width:90px;
    height: 40px;
    background-color:#92B901;
    color: white;
    text-align: center;
    padding: 7px;
    border-radius: 5px;
    margin-left: 40px;
    font-size: 25px;
    font-weight: bold;
    animation-name: aniation;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction:  normal
}
@keyframes aniation {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(20deg);
    }
    50%{
        transform: translate(800px) rotate(0);

    }
    55%{
        transform: translate(800px) rotate(0);

    }
    70%{
        transform: translate(800px) rotate(0);
         background-color: blue;
    }
    100%{
        transform: translate(0) rotate(-360deg);
    }
}




