*{
    margin: 0;
    padding: 0;
}
body{
   background-color:aqua;
}

.container{
    width: 450px;
    height: 700px;
    border: 4px solid blue;
    background-color: white;
    /*margin: 40px 100px;*/
    margin-right:100px;
    overflow: auto;
    border-radius: 35px 0;
    float: left;
}
.container img{
    width: 450px;
    height: 300px;
}
.bot{
    text-align: center;
    padding: 20px 0;

}
.card{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: justify;

    padding: 30px;
    box-sizing: border-box;
}