*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header ul{
    margin-left: 283px;
    padding: 4px 0 4px 0;
}
header .nav-item{
    margin-right: 60px;
}
header .nav-link{
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: black;
    position: relative;
    padding: 0 !important;

}
header .nav-link::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: black;
    transition:  0.5s linear;
    position: absolute;
    display: block;
    margin-top: 2px;


}
header .nav-link:hover::after{
    width: 100%;
    transition:0.5s linear;

}
header .nav-link::before{
    content: '';
    width: 0;
    height: 2px;
    background-color: black;
    position: absolute;
    display: block;
    transition: 0.5s linear;
    margin-top: -2px;
}
header .nav-link:hover::before{
    width: 100%;


}
header .box100{
    height: 550px;
}
header .book{
    height: 550px !important;
}
header .book img{
    width: 100%;
    height: 100%;
}
.images{
    width: 17px !important;
    height: 8px !important;
    margin-left: 17px !important;
}
header .submit{
    width: 222px;
    height: 71px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
}
header .submit:hover{
    background-color: grey;
    color: white;
}
header p{
   margin: 0;
}
header .p1{
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    margin-top: 179px;

}
header .p2{
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
}
header  .book{
    width: 770px;
    height: 829px;
}
header .text{
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    color: #BDBDBD;
}
header .text2{
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
}


header  .owl-prev span, header  .owl-next span{
    display: none;
}
header .owl-prev ,header .owl-next{
    width: 53px;
    height: 53px;
    background-image: url("../images/ico-shape.png") !important;
    background-repeat: no-repeat !important;
    position: absolute;
    background-position: center center !important;
    top: 342px;
    left: -313px;
}
header .owl-prev ,header .owl-next{
    background-color: #e2e2e2 !important;
}
header .owl-next{
    transform: rotate(180deg);
    left: -387px;
}
header .owl-prev:hover ,header .owl-next:hover{
    background-color: #e2e2e2 !important;
}
header .owl-prev:focus ,header .owl-next:focus{
    outline: none;
}


/*container2*/
footer .container1{
    background: #FBFBFB;
    height: 435px;
}
footer .box2{
    margin:30px 30px 0 100px;
}
footer .box2 p img{
    margin-top: 30px;
}
footer .box3{
    margin-top: 60px;

}
footer .card1{
    margin: 30px;
}
footer .text5{
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    margin-bottom: 20px;
}
.text6{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    width: 400px;
    height: 200px;
    padding-right: 29px;
    margin-top: 20px;
}
footer button{
    width: 222px;
    height: 71px;
    background: #FFFFFF;
}
footer button img{
    margin-left: 15px;
}
footer .title{
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    margin: 120px 0 60px 0;
}
footer .bir{
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 239px;
    color: #F2F2F2;
}
footer .two{
    width: 279px;
    height: 144px;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    margin: 59px 0 0 30px;

}
footer .uch{
    width: 420px;
    height: 144px;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    margin: 40px 0 0 30px;

}
footer .row1{
    margin-bottom: 30px;
}
footer .all{
    position: relative;
    overflow: hidden;
}
footer .all:hover .all-body{
  top: 0;
}
footer .all-body{
    width: 100%;
    height: 100%;
    transition: 0.7s linear;
    position: absolute;
    top: -255px;
    background-color: rgba(0,0,0,0.5);
}
footer .all-body p{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFF;
    margin:48px 78px 14px 79px;
 }
footer .all-body b{
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin: 0 15px 53px 79px;
    letter-spacing: 0.2em;

}
footer .all2{
    position: relative;
    overflow: hidden;
}
footer .all9{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: -100%;
    transition: 0.8s ease;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .all2:hover .all9{
    top: 0;
}
footer .all3{
    position: relative;
    overflow: hidden;
}
footer .all3:hover .all9{
    top: 0;
}
footer .all4{
    position: relative;
    overflow: hidden;
}
footer .all4:hover .all9{
    top: 0;
}
footer .all5{
    position: relative;
    overflow: hidden;
}
footer .all5:hover .all9{
    top: 0;
}
footer .submit2{
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #333333;
    margin:30px 0 120px 0;
}
footer .title1{
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    margin: 0 0 22px 0;
}
footer  .form-control{
    background: #F3F3F3;
}
footer textarea{
    margin-top: 11px;
}
footer .ok{
    width: 331px;
    height: 34px;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #333333;
    padding-left: 25px;

}
footer  .submit3{
    width: 222px;
    height: 71px;
    background: #333333;
    color: #FFFFFF;
    margin: 21px 0 120px 0;
}
footer .all-box{
    background-color: #2C2C2C;


}
footer .logo{
    margin: 58px 0 195px 0;
}
footer .nav1{
    margin-right: 19px;
    width: 11px;
    height: 16px;
}
footer .nav2{
    width: 16px;
    height: 16px;
    margin-right: 13px;
}
footer  .nav3{
    width: 16px;
    height: 11px;
    margin-right: 13px;
}
footer .nav-link{
    text-decoration: none;
    color: white;
}
footer .strong{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 50px 0 17px 0;
}
footer  .dawn{
    margin-bottom: 12px;
}
footer  .right{
    margin-left: 34px;
}
footer  .right1{
    margin-left: 17px;
}
footer  .small1{
    height: 70px;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(200, 200, 200, 0.5);
}

