.jk{

    width: 141.96px;
    height: 141.96px;
    /* position: absolute; */
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 69px 0px;
    transform: translate(-18.16px, 220.19px);
}
}

.kj{
   margin: 100px auto;


    width: 141.96px;
    height: 141.96px;
    margin: 100px auto;
    border: 1px solid transparent;
    padding: 68px;
    box-sizing: border-box;
}