.zzz{
    display: flex !important;
    background-color: #1890ff;
    color: white;
    margin-top: 1%;
}
.zzzz{
    display: flex !important;
    background-color: #14252d;
    margin-top: 1%;
    color: white;
    width: 90%;
    float: right;
}
.clear{
    clear: both;
}
.zzz .zzz1{
    width: 33%;
    text-align: left;
}
.zzzz .zzz1{
    width: 33%;
    text-align: left;
}

