*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background: red;
}
::-webkit-scrollbar-thumb {
    background-image:linear-gradient(45deg, rgb(87,179,255), rgb(230,46,247)) ;
    border-radius: 100px;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #ffffff;
    box-shadow: 2px 2px 2px #000000;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;

}
.bg-1{
    background-image: url("./images/img4.jpg");
    height: 100vh;
}
.bg-2{
    background-image: url("./images/img2.jpg");
    height: 600px;
}
.bg-3{
    background-image: url("./images/img3.jpg");
    height: 100vh;
}
.bg-4{
    background-image: url("./images/img14.jpg");
    height: 600px;
}
.bg-5{
    background-image: url("./images/img.jpg");
    height: 100vh;
}
