.phone-card{
  margin-bottom: 80px;
  .wrapper{
    .row{
       .desktop{
         padding: 0 15px!important;
         .box {
           display: flex;
           background: #ffffff;
           border-radius: 10px;
           .box-body:nth-child(1) {
             width: 50%;
             padding: 35px;
             .title {
               font-weight: 600;
               color: #2d3846;
               line-height: 48px;

               font-size: 38px;
               margin: 110px 0 18px 0;
             }
             .text{
               color: #6b7f99;
               font-size: 19px;
               line-height: 30px;
               font-weight: 400;
               span{
                 font-weight: 600;
               }
             }
             .play-store{
               display: flex;
               justify-content: space-between;
               margin-top: 30px;
               .app{
                 width: 160px;
                 height: 49px;
                 background-color: black;
                 border-radius: 5px;
                 img {
                   border-radius: 7px;
                   width: 100%;
                 }
               }
               .play{
                 width: 160px;
                 height: 49px;
                 background-color: black;
                 border-radius: 5px;
                 img {
                   border-radius: 7px;
                   width: 100%;
                 }
               }
             }

           }

           .box-body:nth-child(2) {
             width: 50%;
             padding-top: 10px;
             img{
               width: 100%;
               height: 95%;
               border-radius: 10px;
             }
           }
         }
       }
      .left{
        .card{
          height: 106%;

          .card-header{
            img{
              width: 100%;
            }
          }
          .card-body{
            .title{
              font-weight: 600;
              line-height: 48px;
              color: #2d3846;
            }
            .text{
              font-weight: 400;
              line-height: 30px;
              color: #6b7f99;
              font-size: 20px;
            }
            .link{
              font-weight: 600;
              color: #2493df;
              font-size: 20px;
              text-align: center;
            }
          }
        }
      }

    }
  }
}