.nav-item .active{
    background-color: red;
    color: white;
    border-radius: 20px;

}




/*mobile
.nav-item .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: black;
}

.navbar-toggler:focus {
    outline: none;
}

.nav-item {
    margin-left: 40px;
}

.mobile-search {
    display: none;
}

@media (max-width: 576px) {
    .nav-item {
        margin-left: 0;
    }

    .mobile-search {
        display: block;
        position: absolute;
        top: 20px;
        right: 20%;
    }
    .desktop-search {
        display: none;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    .nav-item {
        margin-left: 0;
    }

    .mobile-search {
        display: block;
        position: absolute;
        top: 20px;
        right: 15%;
    }
    .desktop-search {
        display: none;
    }
}*/