body{
    margin: 0;
    padding: 0;
}
.page{
    height:635px;
    padding: 35px 35px 400px ;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    position: relative;
    margin: 10px;
    background-color: rgba(0,0,0,0.1);
}
.radius{
    width: 150px;
    height: 150px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 140px 0 0;
}
.radius2{
    width: 150px;
    height: 150px;
    background-color: orangered;
    position: absolute;
   top: 0;
   right: 0;
    border-radius: 0  0 0 140px;
}
.container{
    height: 560px;
    /*border: 1px solid red;*/
    display: flex;


}
.box{
    width: 30%;
    height: 100%;
    background-color: rgba(77,146,124,0.80);
    color: white;
    text-align: center;
    padding-top: 15%;
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;
    z-index: 1;

}
.box h1{
    font-family:'NotoSansTC-Medium',sans-serif;}
.box h1:first-letter{
/*color: red;*/
}

.link{
    width: 120px;
    height: 30px;
    border: 1px solid white;
    border-radius: 20px;
    padding-top:6px;
    box-sizing: border-box;
    margin: 40px auto;
    transition: 0.5s linear;
}
.text{
    font-size: 15px;
}
.link:hover{
    background-color: red;
}
.box p{
    line-height: 25px;
    color: white;
    font-size: 15px;

}

.box2{
    width: 70%;
    height: 100%;
    text-align: center;
background-color: white;
    z-index: 1;
    border-radius: 0 10px  10px 0;

}
@font-face {
    font-family:NotoSansTC-Medium;
    src: url("Noto_Sans_TC/NotoSansTC-Medium.otf");
}
.box2 h1{
    color: darkcyan;
    font-family:'NotoSansTC-Medium';
    margin-top: 130px;
}
.box2-body{
    display: flex;
    width: 30%;
    padding-left: 100px;
    margin:0 auto;

}
.box2 p{
    margin-top: 30px;
    font-size: 16px;
    color: rgba(0,0,0,0.6);
}
.box3{
    width: 45px;
    height: 45px;
   border: 1px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    padding:7px ;
    box-sizing: border-box;
    margin-right: 15px;
}
.box3 img{
    width: 100%;
}
.card-body{
    width: 350px;
    height: 40px;
    background-color: rgb(232, 240, 254);
    display: flex;
    border:1.5px solid transparent;
    margin: 5px auto;
    border-radius: 5px;
}
.card-body:hover{
    border: 1.5px solid black;

}
.card1{
    width: 35px;
    height: 40px;
}
.card1 img{
    width: 100%;
    padding:5px;
    box-sizing: border-box;
}
input{
    border: 0;
    background-color: rgb(232, 240, 254);
    width: 220px;
    font-size: 15px;
}
input:focus{
 outline: none;
 box-shadow:none ;
}
input::placeholder{
    font-size: 15px;
    font-weight: normal;
    /*padding: auto auto;*/
}

.div1{
    width: 170px;
    height: 35px;
    border: 1px solid white;
    border-radius: 25px;
    margin: 20px auto;
    font-size: 18px;
    color: white;
    padding-top: 6px;
    box-sizing: border-box;
    background-color: darkcyan;
    transition: 0.5s linear;}

.div1:hover{
    background-color: red;
}
