#title {
    font-size: 40px;
    color: deeppink;
    font-weight:700;
}
.men{
    color:olivedrab;
    font-weight: 800;
    font-size: 57px;
}
.text{ background-color: black;
    font-size: 40px;
    font-weight: 900;
    color: white;
    width: 600px;height: 500px;
text-align: center ;
    text-transform: uppercase;
    text-decoration:none;
}
.box{background-color: darkgray;
    color: black;
    font-size: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
    /*left,right,justify,center*/
    /*!*lowercase hammasini kichik qilib beradi*! uppercase hammasi katta bo'ladi'*/
    /*capitalize hamma so'zlarni' bosh harf bilanyozib beradi */
    text-transform:uppercase;
     /*!*!*underline tagiga chizadi*! overline ustidan chizadi*!  line-through del tagini vazifasini bajaradi*/
    /*none barcha chiziqni uchiradi*/
text-decoration: none;
}
.bol{ color: red;
    font-size: 30px;
font-weight: bold;
    text-decoration:none ;
}
.bil{
    width:600px;
    height: 300px;
    background-image:url("imags/rasm (6).jfif");
    background-size:50px;
    background-color: cyan;
    background-repeat:no-repeat;
    /*background-position-x:50px  ;*/
    /*background-position-y: 50px;*/
    background-position: center center;
}

.card{
    width: 600px;
    height: 300px;
    background-image: url("imags/rasm (6).jfif");
    background-size: 100%;
    background-color: red;
    /*repeat-y,repeat-x,no-repeat*/
    background-repeat: no-repeat;
     /*background-position-x: 50px;      background-position-y: 50px;*/

     background-position: center center;
 }

 body{
     background-image: url("imags/rasm (6).jfif");
     background-repeat: no-repeat;
     background-size: 100%;
     background-attachment: fixed;
 }
/*    height: 100%;*/
 /*.card img{*/
 /*    width: 100%;*/

