$navbarRadius: #F6F6F6;
$headerBody: #FAFAFA;
$button: #09CC66;
$body: #E5E5E5;
$bodyRadius: #E2F5EB;
$card: #F4F4F4;
$yellow: #F5DF0A;
%allButton {
  width: 197px;
  height: 56px;
  background: #09CC66;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 0 7px 15px rgba(9, 204, 102, 0.33);
  }
}
%alllink {
  width: 197px;
  height: 56px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: #09CC66;
    color: white;
    .d{
      background-color: white;
    }
  }
  img{
    width: 8px;
    height: 13px;
    margin: 5px 0 0 15px;


  }
}

%allRadius {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}


.icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: black;
  transition: 0.4s linear;

  mask: {
    position: center center;
    repeat: no-repeat;
    size: 50%;
  };
  -webkit-mask: {
    position: center center;
    repeat: no-repeat;
    size: 50%;
  };
}
.icon-door{
  mask-image: url("../img/door.png");
  -webkit-mask-image:url("../img/door.png");

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $body;
}

.container {
  max-width: 1254px !important;
}

menu {
  background-color: white;

  .container {
    .icon-box{
      display: none;
    }
    .row {
      .col-md-12 {
        .navbar {
          padding: 0 !important;

          .navbar-brand {
            margin: 25px 66px 31px 0;
            padding: 0;
            transition: 0.4s linear;
            animation-name: box;
            animation-duration: 3s;
            animation-iteration-count: infinite;


            @keyframes box {
              0% {
                transform: scale(1);
              }
              15% {
                transform: scale(1.1);
              }
              50% {
                transform: scale(1.1);
              }
              75% {
                transform: scale(1.1)
              }
              100% {
                transform: scale(1);
              }
            }

            img {
              width: 40px;
              height: 35px;
            }

          }

          .collapse {
            justify-content: space-between;
          }

          .navbar-nav {
            .nav-item {
              &:last-child {
                .nav-link{
                  margin-right: 0;
                }
              }

              .nav-link {
                padding: 0;
                margin-right: 35px;
                color: black;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                transition: 0.4s linear;
                position: relative;
                @keyframes animation {
                  0% {
                    transform: rotate(0) scale(0);
                  }

                  100% {
                    transform: rotate(360deg) scale(1);

                  }

                }

                &:hover {

                transform: scale(1.1);
                  color: $button;
                }

                &:after {
                  //width: 100%;
                  height: 2px;
                  background-color: $button;
                  position: absolute;
                  display: block;
                  margin-top: 6px;

                }

                &:hover::after {
                  content: '';
                  width: 100%;
                  animation-name: animation;
                  animation-duration: 0.4s;

                }

              }

              .nav-link1 {
                margin-right: 28px;
                transition: 0.4s linear;
                @extend %allRadius;

                &:hover {
                  background-color: $button;
                }
              }
              .nav-link2{
                transition: 0.4s linear;
                @extend %allRadius;

                &:hover {
                  background-color: $button;
                }
              }
            }
          }

          button {
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}
header{
  .container{
    .col-md-5{
      .p1{
        font-weight: 600;
        font-size: 80px;
        line-height: 85px;
        letter-spacing: -0.02em;
        margin: 117px 0 17px 0;
      }
      .p2{
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
      }
      .button{
        @extend %allButton;
      }
      .link{
        @extend %alllink;
        margin-left: 23px;
       .d{
         mask-image: url("../img/bnext.png");
         -webkit-mask-image:url("../img/bnext.png");
         width: 15px;
         height: 13px;
         background-repeat: no-repeat;
         background-position: center center;
         margin: 6px 0 0 10px;

       }
        p{
          margin: 0 0 0 16px;
        }
      }
    }
  }
}


@media (max-width: 576px) {
  menu {
    .container {
      .row {
        .col-md-12 {
          .navbar {
            .navbar-brand{
              margin: 12px 0 ;
            }
            .navbar-nav {
              .nav-item {
                text-align: center;
                .nav-link {
                  margin:0 auto 12px auto;
                  display: inline-block;

                }
                .nav-link1{
                  display: none;
                }
                .icon-door{
                  display: block;
                  width: 40px;
                  height: 40px;
                  margin: 0 auto;
                  background-color: white;


                }
              }
              .icon-box{
                width: 100%;
                height: 40px;
                border-radius: 4px;
                margin-bottom: 12px;
                background-color:$button;

              }

            }
          }
        }
      }
    }
  }
  header{
    .row{
      .col-md-5{
        .p1{
          font-weight: bold;
          font-size: 40px;
          line-height: 45px;
          text-align: center;
        }
        .p2{
          font-weight: normal;
          font-size: 14px;
          line-height: 29px;
          text-align: center;
        }
        .link{
          font-weight: normal;
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
  }
}

